@charset "UTF-8";
@font-face {
  font-family: Gilroy-Regular;
  src: url(../fonts/Gilroy/Gilroy-Regular.ttf) format("ttf");
  src: url(../fonts/Gilroy/Gilroy-Regular.woff) format("woff");
  src: url(../fonts/Gilroy/Gilroy-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}
@font-face {
  font-family: Gilroy-Bold;
  src: url(../fonts/Gilroy/Gilroy-Bold.ttf) format("ttf");
  src: url(../fonts/Gilroy/Gilroy-Bold.woff) format("woff");
  src: url(../fonts/Gilroy/Gilroy-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}
@font-face {
  font-family: Gilroy-Medium;
  src: url(../fonts/Gilroy/Gilroy-Medium.ttf) format("ttf");
  src: url(../fonts/Gilroy/Gilroy-Medium.woff) format("woff");
  src: url(../fonts/Gilroy/Gilroy-Medium.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth
}
::after,
::before {
  box-sizing: border-box
}
::-webkit-scrollbar {
  width: 5px;
  background-color: transparent
}
::-webkit-scrollbar-thumb {
  background-color: #d1dbe3;
  border-radius: 10px;
  height: 154px
}
.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px
}
body {
  font-size: 16px;
  font-family: Gilroy-Medium;
  line-height: 1.2;
  color: #000;
  margin: 0
}
ul {
  list-style-type: none
}
ul li {
  padding-left: 0
}
a {
  color: #000;
  text-decoration: none;
  font-weight: 400;
  transition: .3s ease-in-out;
  background-color: transparent
}
a:hover {
  color: #005dff
}
:focus {
  outline-style: none;
  outline-width: 0!important;
  outline-color: none!important
}
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: Gilroy-Bold
}
.h2,
h1,
h2 {
  font-size: 32px
}
.h3 span,
.h4 span,
h1 span,
h2 span,
h3 span,
h4 span {
  color: #005dff
}
button,
input,
input[type=submit] {
  width: 100%;
  border: none;
  display: inline-block;
  outline: 0
}
input::-webkit-search-cancel-button,
input::-webkit-search-decoration,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none
}
svg path {
  transition: .3s ease-in-out
}
section {
  margin: 20px 0 55px
}
a.blue-border-button,
a.blue-button,
a.button {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  padding: 16px 0;
  border-radius: 5px;
  font-family: Gilroy-Bold;
  transition: .3s ease-in-out
}
a.blue-border-button.add_review,
a.blue-button.add_review,
a.button.add_review {
  background-color: #005dff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0;
  max-width: 210px;
  text-transform: inherit
}
a.blue-border-button.add_review .icon,
a.blue-button.add_review .icon,
a.button.add_review .icon {
  margin-right: 10px
}
a.blue-border-button:hover,
a.blue-button:hover,
a.button:hover {
  background-color: #0050db
}
p a {
  color: #005dff
}
.breadcumbs {
  padding-top: 30px;
  padding-bottom: 30px
}
.breadcumbs ul {
  display: flex;
  flex-wrap: wrap
}
.breadcumbs li {
  position: relative;
  color: #818181;
  font-size: 14px
}
.breadcumbs li a {
  color: #818181
}
.breadcumbs li a:hover {
  color: #005dff
}
.breadcumbs li::after {
  content: "/";
  margin: 0 10px;
  color: inherit;
  font-size: inherit
}
.breadcumbs li:last-child::after {
  content: none
}
.blue-button {
  border-radius: 5px;
  padding: 11.5px 0!important;
  background: #005dff!important;
  border: 2px solid #005dff;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #fff!important;
  transition: .5s
}
.blue-button:hover {
  color: #000!important;
  background: rgba(230,230,230,.301)!important;
  transition: .5s
}
.blue-border-button {
  border-radius: 5px;
  background: rgba(230,230,230,.301)!important;
  padding: 12px 0;
  border: 3px solid #005dff;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #000!important;
  transition: .3s ease-in-out
}
.blue-border-button:hover {
  color: #fff!important;
  background: #005dff!important;
  transition: .3s ease-in-out
}
input[type=checkbox] {
  position: absolute;
  z-index: -1;
  opacity: 0
}
.grey-border-button {
  border-radius: 5px;
  background: 0 0!important;
  padding: 12px 0;
  border: 1px solid #d1dbe3;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000!important;
  transition: .3s ease-in-out
}
.grey-border-button:hover {
  color: #fff!important;
  background: #0050db!important;
  transition: .3s ease-in-out
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
details,
main {
  display: block
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
code,
kbd,
pre,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: ButtonText dotted 1px
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
summary {
  display: list-item
}
[hidden],
template {
  display: none
}
@media screen and (max-width:767px) {
  .container {
    padding: 0 10px
  }
  .h2,
  h1,
  h2 {
    font-size: 22px!important
  }
  .breadcumbs {
    padding-top: 15px;
    padding-bottom: 15px
  }
}