@charset "UTF-8";
.first__page_top {
  margin-top: 32px;
  margin-bottom: 56px
}
.first__page_top .slider__item {
  padding: 27px 59px;
  display: flex!important;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d1dbe3;
  border-radius: 10px
}
.first__page_top .slider__item-left {
  width: 100%;
  max-width: 410px
}
.first__page_top .slider__item-left h1 {
  margin-bottom: 24px
}
.first__page_top .slider__item-left .bold {
  font-family: Gilroy-Bold;
  margin-bottom: 16px
}
.first__page_top .slider__item-left .small {
  font-size: 14px;
  color: #818181
}
.first__page_top .slider__item-left--button {
  margin-top: 25px
}
.first__page_top .slider__item-left--button a.button {
  font-size: 14px;
  color: #fff;
  max-width: 180px;
  background-color: #005dff;
  font-family: Gilroy-Medium;
  height: 40px;
  padding: 12px 0;
  letter-spacing: .5px
}
.first__page_top .slider__item-left--button a.button:hover {
  background-color: #0050db
}
.first__page_top .slider__item-right {
  width: 100%;
  max-width: 550px;
  height: 100%
}
.first__page_top .slider__item-right img {
  width: 100%;
  height: 100%
}
.first__page_top .slick-dots li button:before {
  font-size: 10px
}
.first__page_top .slick-dots li.slick-active button:before {
  color: #005dff
}
.first__page_top .slick-next,
.first__page_top .slick-prev {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  box-shadow: 0 4px 15px rgba(0,0,0,.1);
  z-index: 1;
  transition: .3s ease-in-out
}
.first__page_top .slick-next::before,
.first__page_top .slick-prev::before {
  content: none
}
.first__page_top .slick-next:hover,
.first__page_top .slick-prev:hover {
  box-shadow: none
}
.open__for {
  background-color: #f7f8fa;
  padding: 48px 0 32px;
  margin-top: 0;
  margin-bottom: 0
}
.open__for h2 {
  margin-bottom: 24px
}
.open__for-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}
.open__for-item {
  width: 100%;
  max-width: 362px;
  background-color: #fff;
  box-shadow: 0 4px 60px 4px rgba(0,0,0,.05);
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  padding: 32px 40px 28px;
  margin-bottom: 24px;
  transition: .3s ease-in-out
}
.open__for-item:nth-child(1) .top,
.open__for-item:nth-child(2) .top,
.open__for-item:nth-child(3) .top {
  margin-bottom: 0
}
.open__for-item:hover {
  box-shadow: none
}
.open__for-item .top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px
}
.open__for-item .top .icon {
  width: 40px
}
.open__for-item .top .text {
  font-family: Gilroy-Bold;
  margin-bottom: 8px;
  margin-left: 24px;
  width: 100%;
  max-width: 75%
}
.open__for-item .top .link {
  position: relative;
  display: block;
  color: #005dff;
  font-size: 12px;
  margin-left: 64px
}
.open__for-item .top .link::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #005dff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: .3s ease-in-out
}
.open__for-item .top .link:hover::after {
  content: none
}
.open__for-item .text__adout {
  font-size: 14px;
  color: #818181
}
.open__for-item .text__adout span {
  color: #005dff
}
.you__reviews .slick-dots li button:before {
  font-size: 10px
}
.you__reviews .slick-dots li.slick-active button:before {
  color: #005dff
}
.you__reviews .slick-next,
.you__reviews .slick-prev {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  box-shadow: 0 4px 15px rgba(0,0,0,.1);
  z-index: 1;
  transition: .3s ease-in-out
}
.you__reviews .slick-next::before,
.you__reviews .slick-prev::before {
  content: none
}
.you__reviews .slick-next:hover,
.you__reviews .slick-prev:hover {
  box-shadow: none
}
.you__reviews_head {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 24px
}
.you__reviews_head h2 {
  width: 100%;
  max-width: 486px
}
.you__reviews_head .button {
  font-size: 14px;
  color: #fff;
  max-width: 265px;
  background-color: #005dff;
  font-family: Gilroy-Medium;
  height: 40px;
  padding: 12px 0;
  letter-spacing: .5px
}
.you__reviews_head .button:hover {
  background-color: #0050db
}
.you__reviews_items {
  margin-bottom: 16px
}
.you__reviews_item {
  width: 100%;
  max-width: 346px;
  min-height: 320px;
  border: 1px solid #d1dbe3;
  border-radius: 10px;
  padding: 32px;
  margin-right: 55px
}
.you__reviews_item-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px;
  grid-template-columns: 1fr 50px;
  margin-bottom: 16px
}
.you__reviews_item-top .top_user {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 1fr;
  grid-template-columns: 40px 1fr;
  gap: 16px;
  margin-bottom: 24px
}
.you__reviews_item-top .top_user-avatar {
  width: 40px;
  height: 36px
}
.you__reviews_item-top .top_user-avatar img {
  width: 100%;
  display: block
}
.you__reviews_item-top .top_user-about .name {
  font-family: Gilroy-Bold;
  font-size: 18px;
  margin-bottom: 5px;
  display: inline-block
}
.you__reviews_item-top .top_user-about .name-info {
  font-size: 12px;
  display: flex;
  align-items: center;
  position: relative
}
.you__reviews_item-top .top_user-about .name-info .text {
  margin-right: 10px;
  display: inline-block
}
.you__reviews_item-top .top_user-about .name-info .icon {
  cursor: pointer
}
.you__reviews_item-top .top_user-about .name-info .icon:hover + .icon__pseudo {
  visibility: visible;
  opacity: 1
}
.you__reviews_item-top .top_rigt-raityng {
  height: 50px;
  width: 50px;
  position: relative
}
.you__reviews_item-top .top_rigt-raityng .text {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Gilroy-Bold
}
.you__reviews_item-top .top_rigt-raityng .icon svg {
  width: 100%
}
.you__reviews_item-top .top_bottom-raityng {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 56px 1fr;
  grid-template-columns: 56px 1fr;
  color: #818181
}
.you__reviews_item-top .top_bottom-raityng .left .icon svg path {
  fill: #818181
}
.you__reviews_item-top .top_bottom-raityng .left .text {
  font-family: Gilroy-Bold
}
.you__reviews_item-top .top_bottom-raityng .right {
  font-size: 14px
}
.you__reviews_item-top .top_bottom-raityng .right span {
  display: block
}
.you__reviews_item-top .top_bottom-raityng .right .company_name {
  font-family: Gilroy-Bold;
  overflow: hidden;
  width: 100%;
  max-width: 230px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block
}
.you__reviews_item-top .top_bottom-raityng .right .company_city {
  color: #818181
}
.you__reviews_item-top .icon__pseudo {
  visibility: hidden;
  opacity: 0;
  width: 280px;
  position: absolute;
  right: -47px;
  bottom: -175px;
  background-color: #fff;
  box-shadow: 0 5px 20px rgba(0,0,0,.1);
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 14px;
  transition: .3s ease-in-out
}
.you__reviews_item-top .icon__pseudo::after {
  content: "";
  border: 4px solid transparent;
  border-bottom: 6px solid #93b6ff;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%)
}
.you__reviews_item-top .icon__pseudo > p {
  margin-bottom: 10px
}
.you__reviews_item-top .icon__pseudo.active {
  visibility: visible;
  opacity: 1
}
.you__reviews_item-top .icon__pseudo p span {
  color: #005dff
}
.you__reviews_item-body {
  margin-bottom: 15px;
  height: 100px;
  overflow: hidden
}
.you__reviews_item-body > span {
  font-size: 14px;
  color: #818181;
  display: inline-block;
  margin-bottom: 5px
}
.you__reviews_item-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 12px;
  color: #818181
}
.you__reviews_item-footer .left a {
  display: block;
  color: #818181;
  position: relative
}
.you__reviews_item-footer .left a::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #818181;
  position: absolute;
  left: 0;
  bottom: 0
}
.you__reviews_item-footer .left a:hover::after {
  content: none
}
.you__reviews_item-footer .right {
  display: flex;
  flex-direction: column
}
.you__reviews_item-footer .right span {
  display: inline-block;
  text-align: right
}
.you__reviews_item.vinco__raityng .top_bottom-raityng,
.you__reviews_item.vinco__raityng .top_rigt-raityng .text {
  color: #005dff
}
.you__reviews_item.vinco__raityng .top_bottom-raityng .left .icon svg path {
  fill: #005dff
}
.you__reviews_bottom {
  font-size: 14px;
  color: #818181;
  max-width: 540px
}
.what__task {
  background-color: #f7f8fa;
  padding: 48px 0 0;
  margin-top: 0;
  margin-bottom: 0
}
.what__task .slick-dots li button:before {
  font-size: 10px
}
.what__task .slick-dots li.slick-active button:before {
  color: #005dff
}
.what__task .slick-next,
.what__task .slick-prev {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  box-shadow: 0 4px 15px rgba(0,0,0,.1);
  z-index: 1;
  transition: .3s ease-in-out
}
.what__task .slick-next::before,
.what__task .slick-prev::before {
  content: none
}
.what__task .slick-next:hover,
.what__task .slick-prev:hover {
  box-shadow: none
}
.what__task .slick-prev {
  left: -10px
}
.what__task .slick-next {
  right: -10px
}
.what__task .slick-track {
  padding: 24px 0 56px
}
.what__task .slick-slider {
  max-width: 1180px;
  margin: 0 auto
}
.what__task .slick-list {
  padding: 0 15px
}
.what__task_item {
  background-color: #fff;
  box-shadow: 0 4px 10px 4px rgba(0,0,0,.05);
  border-radius: 10px;
  border: 1px solid rgba(209,219,227,0);
  transition: .3s ease-in-out;
  width: 100%;
  max-width: 264px;
  min-height: 285px;
  margin-right: 30px;
  cursor: pointer;
  padding-bottom: 16px;
  position: relative
}
.what__task_item:hover {
  border: 1px solid #93b6ff;
  box-shadow: 0 4px 10px rgba(0,0,0,.15)
}
.what__task_item:hover .what__task_item-center {
  color: #000
}
.what__task_item:hover .what__task_item-bottom a {
  color: #005dff
}
.what__task_item:hover .what__task_item-bottom a::after {
  background-color: #005dff
}
.what__task_item:hover .link {
  display: flex;
  -webkit-animation: .3s ease-out forwards display__none;
  animation: .3s ease-out forwards display__none
}
.what__task_item-top img {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 10px 10px 0 0
}
.what__task_item-center {
  padding: 0 30px;
  color: #818181;
  transition: .3s ease-in-out
}
.what__task_item-center h3 {
  font-size: 14px;
  margin-bottom: 8px;
  color: #000
}
.what__task_item-center p {
  font-family: Gilroy-Regular
}
.what__task_item .link {
  opacity: 0;
  margin-top: 16px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .3s ease-in-out
}
.what__task_item .link a {
  color: #93b6ff;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  margin-bottom: 8px
}
@-webkit-keyframes display__none {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
@keyframes display__none {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
.first__page_ready-des {
  margin-bottom: 0;
  margin-top: 56px
}
.first__page_ready-des--head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between
}
.first__page_ready-des--head .button {
  max-width: 265px;
  border: 1px solid #93b6ff;
  margin-top: 10px
}
.first__page_ready-des--head .button:hover {
  color: #fff
}
.first__page_ready-des .group__pack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}
.first__page_ready-des .pack {
  width: 100%;
  max-width: 362px;
  display: flex!important;
  flex-direction: column;
  border-radius: 10px;
  transition: .3s ease-in-out;
  margin-right: 31px
}
.first__page_ready-des .pack:hover {
  cursor: pointer;
  box-shadow: 0 10px 30px rgba(0,37,131,.1)
}
.first__page_ready-des .pack__predloj {
  width: 100%;
  min-height: 587px;
  padding: 32px;
  border: 1px solid #d1dbe3;
  border-radius: 10px;
  position: relative;
  background: #fff
}
.first__page_ready-des .predloj__title {
  display: flex
}
.first__page_ready-des .predloj__title picture {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: 1px solid #dde8ff;
  position: relative
}
.first__page_ready-des .predloj__title picture img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0)
}
.first__page_ready-des .title__text {
  padding-left: 15px;
  padding-top: 15px
}
.first__page_ready-des .pack p {
  font-size: 14px;
  padding: 10px 0 10px 30px;
  color: #818181
}
.first__page_ready-des .pack h6 {
  font-family: Gilroy-Medium;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 0;
  color: #818181
}
.first__page_ready-des .pack h2 {
  color: #000
}
.first__page_ready-des .pack h3 {
  font-size: 16px;
  color: #f5c000
}
.first__page_ready-des .pack h4 {
  font-family: Gilroy-Bold;
  font-size: 14px;
  display: flex
}
.first__page_ready-des .pack h4 img {
  width: 14px;
  margin-right: 10px;
  margin-bottom: -2px
}
.first__page_ready-des .pack span p {
  font-family: Gilroy-Bold;
  font-size: 24px;
  color: #005dff
}
.first__page_ready-des .predloj__present {
  width: 100%;
  max-width: 298px;
  position: absolute;
  padding: 16px;
  display: flex;
  bottom: 28px;
  border: 1px solid #d1dbe3;
  border-radius: 10px
}
.first__page_ready-des .predloj__present h5 {
  font-family: Gilroy-Bold;
  font-size: 16px;
  color: #35a34a;
  padding-bottom: 10px
}
.first__page_ready-des .predloj__present ul span {
  color: #35a34a;
  position: relative;
  margin-right: 5px
}
.first__page_ready-des .predloj__present li {
  font-family: Gilroy-Bold;
  font-size: 12px;
  line-height: 150%
}
.first__page_ready-des .predloj__present picture {
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1
}
.first__page_ready-des .present__text {
  z-index: 2
}
.first__page_ready-des .present__text img {
  width: 7px;
  height: 5px
}
.first__page_ready-des .pack__price {
  width: 100%;
  margin-top: -10px;
  padding-top: 28px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #f7f7f7
}
.first__page_ready-des .price__main {
  width: 100%;
  display: flex;
  padding: 10px 32px 0;
  margin-bottom: 0
}
.first__page_ready-des .price__main p {
  padding: 0
}
.first__page_ready-des .main__left {
  width: 50%;
  display: flex;
  flex-wrap: wrap
}
.first__page_ready-des .main__left h3 {
  width: 100%;
  padding-bottom: 5px;
  font-size: 16px;
  color: #000
}
.first__page_ready-des .main__left h2 {
  color: #f5c000;
  font-size: 24px
}
.first__page_ready-des .main__left h2 span {
  color: #000;
  font-size: 14px
}
.first__page_ready-des .main__rigth {
  width: 50%;
  display: flex;
  flex-wrap: wrap
}
.first__page_ready-des .main__rigth > p {
  width: 80%;
  font-size: 12px
}
.first__page_ready-des .rigth__title span {
  color: #005dff
}
.first__page_ready-des .main__rigth picture {
  width: 22px;
  height: 22px;
  padding-top: 5px;
  margin-left: 5px
}
.first__page_ready-des .rigth__price {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center
}
.first__page_ready-des .rigth__price span {
  font-size: 14px;
  color: #000;
  text-align: center
}
.first__page_ready-des .rigth__price .result {
  font-family: Gilroy-Bold;
  color: #ff5252;
  font-size: 16px;
  text-align: right
}
.first__page_ready-des .price__button {
  width: 100%;
  padding: 20px 32px 33px;
  text-align: center
}
.first__page_ready-des .price__button a {
  display: block;
  width: 100%;
  padding: 12px 105px;
  font-family: Gilroy-Bold;
  font-size: 14px;
  background: #fee74c;
  border-radius: 5px;
  letter-spacing: .05em
}
.first__page_ready-des .price__button a:hover {
  color: #000;
  background: #f1d97f
}
.first__page_ready-des .form__select .choices__inner,
.first__page_ready-des .form__select select {
  font-size: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 0;
  padding-bottom: 0!important;
  padding-top: 0;
  min-height: 1px
}
.first__page_ready-des .form__select .choices__list--dropdown .choices__item {
  padding: 3px 3px 3px 5px
}
.first__page_ready-des .form__select .choices__list--single {
  min-width: 65px
}
.first__page_ready-des .slick-dots li button:before {
  font-size: 10px
}
.first__page_ready-des .slick-dots li.slick-active button:before {
  color: #005dff
}
.first__page_ready-des .slick-next,
.first__page_ready-des .slick-prev {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  box-shadow: 0 4px 15px rgba(0,0,0,.1);
  z-index: 1;
  transition: .3s ease-in-out
}
.first__page_ready-des .slick-next::before,
.first__page_ready-des .slick-prev::before {
  content: none
}
.first__page_ready-des .slick-next:hover,
.first__page_ready-des .slick-prev:hover {
  box-shadow: none
}
.first__page_ready-des .slick-track {
  padding: 24px 0 56px
}
.first__page_ready-des .slick-slider {
  max-width: 1180px;
  margin: 0 auto
}
.first__page_ready-des .slick-list {
  padding: 0 15px
}
.equipment__manufacturers {
  background-color: #f7f8fa;
  padding: 48px 0 38px;
  margin-top: 0;
  margin-bottom: 0
}
.equipment__manufacturers .slick-dots li button:before {
  font-size: 10px
}
.equipment__manufacturers .slick-dots li.slick-active button:before {
  color: #005dff
}
.equipment__manufacturers .slick-next,
.equipment__manufacturers .slick-prev {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  box-shadow: 0 4px 15px rgba(0,0,0,.1);
  z-index: 1;
  transition: .3s ease-in-out
}
.equipment__manufacturers .slick-next::before,
.equipment__manufacturers .slick-prev::before {
  content: none
}
.equipment__manufacturers .slick-next:hover,
.equipment__manufacturers .slick-prev:hover {
  box-shadow: none
}
.equipment__manufacturers h2 {
  margin-bottom: 24px
}
.equipment__manufacturers_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 686px;
  background-image: url(../img/first__page/equipment_bg.png);
  background-position: right bottom 22px;
  background-repeat: no-repeat
}
.equipment__manufacturers_item {
  position: relative;
  margin-right: 27px;
  min-height: 685px
}
.equipment__manufacturers .item__content {
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 4px 60px 4px rgba(0,0,0,.05);
  border-radius: 10px;
  padding: 32px;
  width: 100%;
  max-width: 365px;
  position: relative
}
.equipment__manufacturers .item__top_img {
  margin-bottom: 23px;
  height: 42px;
  width: 100%;
  max-width: 300px
}
.equipment__manufacturers .item__top_about {
  font-size: 14px;
  color: #818181;
  margin-bottom: 24px
}
.equipment__manufacturers .item__review_name {
  color: #005dff;
  font-family: Gilroy-Bold;
  font-size: 18px;
  margin-bottom: 5px
}
.equipment__manufacturers .item__review_position {
  margin-bottom: 11px
}
.equipment__manufacturers .item__review_text {
  position: relative
}
.equipment__manufacturers .item__review_text .icon {
  position: absolute;
  top: 0;
  left: 0
}
.equipment__manufacturers .item__review_text p {
  padding-left: 25px;
  font-size: 14px;
  color: #818181
}
.equipment__manufacturers .item__video {
  position: absolute;
  left: 0;
  bottom: 22px;
  width: 100%;
  max-width: 365px;
  z-index: 0;
  border-radius: 0 0 10px 10px
}
.equipment__manufacturers .item__video_img {
  position: relative;
  border-radius: 10px;
  width: 100%;
  max-width: 365px;
  height: 202px
}
.equipment__manufacturers .item__video_img--pseudo {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg,rgba(0,0,0,.5),rgba(0,0,0,.5));
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0 0 10px 10px
}
.equipment__manufacturers .item__video_img img {
  width: 100%;
  height: 100%;
  border-radius: 0 0 10px 10px;
  -o-object-fit: cover;
  object-fit: cover
}
.equipment__manufacturers .item__video_btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid #fff;
  border-radius: 50%;
  width: 82px;
  height: 82px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s ease-in-out
}
.equipment__manufacturers .item__video_btn--btn_icon {
  display: block;
  width: 21px;
  height: 21px
}
.equipment__manufacturers .item__video_btn--btn_icon svg {
  width: 100%;
  height: 100%
}
.equipment__manufacturers .item__video_btn:hover {
  box-shadow: 0 0 6px 4px rgba(255,255,255,.5)
}
.equipment__manufacturers .item__video_description {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 14px;
  width: 100%;
  text-align: center
}
.safe__pay {
  margin-top: 75px
}
.safe__pay .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}
.safe__pay_left,
.safe__pay_right {
  border: 1px solid #d1dbe3;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
.safe__pay_left a.button,
.safe__pay_right a.button {
  display: block;
  max-width: 180px;
  height: 40px;
  color: #fff;
  background-color: #005dff;
  padding: 14px 0;
  font-family: Gilroy-Medium;
  letter-spacing: .5px;
  margin-right: auto
}
.safe__pay_left a.button:hover,
.safe__pay_right a.button:hover {
  background-color: #0050db
}
.safe__pay_left {
  padding: 56px 64px 32px;
  width: 100%;
  max-width: 753px;
  align-items: baseline
}
.safe__pay_left-text {
  width: 100%;
  max-width: 420px
}
.safe__pay_left-text h2 {
  margin-bottom: 24px
}
.safe__pay_left-text p {
  font-size: 14px;
  color: #818181;
  width: 100%;
  max-width: 370px;
  margin-bottom: 50px
}
.safe__pay_left-img {
  position: absolute;
  bottom: 0;
  right: 0
}
.safe__pay_left-img picture {
  display: inline-block;
  width: 345px;
  height: 315px
}
.safe__pay_left-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.safe__pay_right {
  width: 100%;
  max-width: 363px;
  padding: 56px 40px 32px;
  align-items: center;
  background-image: url(../img/first__page/save_mony_right_bg.png);
  background-position: bottom right;
  background-repeat: no-repeat
}
.safe__pay_right h3 {
  font-size: 32px;
  margin-bottom: 24px
}
.safe__pay_right p {
  font-size: 14px;
  color: #818181;
  margin-bottom: 50px
}
.about__us h2 {
  margin-bottom: 24px
}
.about__us_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}
.about__us .slick-dots li button:before {
  font-size: 10px
}
.about__us .slick-dots li.slick-active button:before {
  color: #005dff
}
.about__us .slick-next,
.about__us .slick-prev {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  box-shadow: 0 4px 15px rgba(0,0,0,.1);
  z-index: 1;
  transition: .3s ease-in-out
}
.about__us .slick-next::before,
.about__us .slick-prev::before {
  content: none
}
.about__us .slick-next:hover,
.about__us .slick-prev:hover {
  box-shadow: none
}
.about__us .item__video {
  position: relative;
  width: 100%;
  max-width: 265px;
  min-height: 380px;
  z-index: 0;
  border-radius: 10px;
  margin-right: 30px
}
.about__us .item__video_top {
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 1;
  color: #fff
}
.about__us .item__video_top span {
  display: block
}
.about__us .item__video_top .name {
  font-size: 18px;
  font-family: Gilroy-Bold;
  margin-bottom: 2px
}
.about__us .item__video_top .position {
  font-size: 14px;
  font-family: Gilroy-Regular
}
.about__us .item__video_img {
  position: relative;
  border-radius: 10px;
  width: 100%;
  max-width: 265px;
  min-height: 380px;
  height: 100%
}
.about__us .item__video_img--pseudo {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg,rgba(0,0,0,.5),rgba(0,0,0,.5));
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px
}
.about__us .item__video_img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover
}
.about__us .item__video_btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid #fff;
  border-radius: 50%;
  width: 82px;
  height: 82px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s ease-in-out
}
.about__us .item__video_btn--btn_icon {
  display: block;
  width: 21px;
  height: 21px
}
.about__us .item__video_btn--btn_icon svg {
  width: 100%;
  height: 100%
}
.about__us .item__video_btn:hover {
  box-shadow: 0 0 6px 4px rgba(255,255,255,.5)
}
.about__us .item__video_description {
  position: absolute;
  bottom: 24px;
  left: 24px;
  color: #fff;
  width: 75%;
  font-family: Gilroy-Regular
}
.about__us .item__video_description .company_name {
  font-family: Gilroy-Bold;
  margin-bottom: 8px
}
.about__us .item__video_description span {
  display: block
}
.must__now {
  background-color: #f7f8fa;
  padding: 48px 0 0;
  margin-top: 0
}
.must__now .slick-dots li button:before {
  font-size: 10px
}
.must__now .slick-dots li.slick-active button:before {
  color: #005dff
}
.must__now .slick-next,
.must__now .slick-prev {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  box-shadow: 0 4px 15px rgba(0,0,0,.1);
  z-index: 1;
  transition: .3s ease-in-out
}
.must__now .slick-next::before,
.must__now .slick-prev::before {
  content: none
}
.must__now .slick-next:hover,
.must__now .slick-prev:hover {
  box-shadow: none
}
.must__now .slick-prev {
  left: -10px
}
.must__now .slick-next {
  right: -10px
}
.must__now .slick-track {
  padding: 24px 0 56px
}
.must__now .slick-slider {
  max-width: 1180px;
  margin: 0 auto
}
.must__now .slick-list {
  padding: 0 15px;
  overflow: inherit
}
.must__now_item {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  max-width: 216px;
  height: 100%;
  min-height: 385px;
  margin-right: 24px;
  padding: 26px 24px;
  box-shadow: 0 4px 12px 4px rgba(0,0,0,.05);
  transition: .3s ease-in-out;
  overflow: hidden;
  cursor: pointer
}
.must__now_item.shadow {
  opacity: .5
}
.must__now_item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px 4px rgba(0,0,0,.1)
}
.must__now_item:hover .must__now_item-top .questions {
  color: #005dff
}
.must__now_item-top .head {
  margin-bottom: 10px;
  color: #005dff;
  font-size: 10px
}
.must__now_item-top .questions {
  margin-bottom: 53px;
  font-family: Gilroy-Bold;
  display: inline-block;
  transition: .3s ease-in-out
}
.must__now_item-bottom,
.must__now_item-container {
  position: relative
}
.must__now_item--pseudo {
  position: relative;
  background: #fff;
  border-radius: 10px;
  padding: 26px 24px 32px;
  width: 280px!important;
  height: 450px
}
.must__now_item--pseudo-items {
  position: absolute;
  top: -32px;
  left: -32px;
  width: 280px;
  height: 450px;
  z-index: 1;
  box-shadow: 0 4px 12px 4px rgba(0,0,0,.05);
  border-radius: 10px
}
.must__now_item--pseudo-items.hide {
  display: none
}
.must__now_item--pseudo-items .slick-next,
.must__now_item--pseudo-items .slick-prev {
  width: 24px;
  height: 24px;
  top: 60px;
  transform: translate(0,0);
  left: unset!important
}
.must__now_item--pseudo-items .slick-next svg,
.must__now_item--pseudo-items .slick-prev svg {
  width: 5px;
  height: 8px
}
.must__now_item--pseudo-items .slick-prev {
  right: 56px!important
}
.must__now_item--pseudo-items .slick-next {
  right: 24px!important
}
.must__now_item--pseudo-items .slick-track {
  padding: 0
}
.must__now_item--pseudo-items .slick-slider {
  max-width: unset;
  margin: 0
}
.must__now_item--pseudo-items .slick-list {
  padding: 0;
  overflow: hidden
}
.must__now_item--pseudo-items .slick-dots {
  top: 30px;
  right: 24px;
  bottom: unset;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end
}
.must__now_item--pseudo-items .slick-dots li {
  width: 24px;
  height: 6px;
  background: #d1dbe3;
  border-radius: 3px;
  margin: 0 8px 0 0
}
.must__now_item--pseudo-items .slick-dots li:last-child {
  margin-right: 0
}
.must__now_item--pseudo-items .slick-dots li button {
  padding: 0;
  width: 0;
  height: 0
}
.must__now_item--pseudo-items .slick-dots li button::before {
  content: none
}
.must__now_item--pseudo-items .slick-dots li.slick-active {
  width: 40px;
  background-color: #dde8ff
}
.must__now_item--pseudo-items .slick-dots li.slick-active button {
  background: #93b6ff;
  border-radius: 3px;
  width: 5px;
  height: 6px;
  -webkit-animation: 4s forwards slider_btn_anim;
  animation: 4s forwards slider_btn_anim
}
.must__now_item--pseudo .text {
  font-size: 14px;
  display: inline-block
}
.must__now_item--pseudo .questions {
  margin-bottom: 16px;
  display: inline-block;
  max-width: 160px;
  color: #005dff
}
.must__now_item--pseudo .img {
  width: 100%;
  max-width: 228px;
  height: 149px;
  position: absolute;
  bottom: 32px;
  left: 24px
}
.must__now_item--pseudo .img img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -o-object-fit: contain;
  object-fit: contain
}
@-webkit-keyframes slider_btn_anim {
  0% {
    width: 5px
  }
  100% {
    width: 100%
  }
}
@keyframes slider_btn_anim {
  0% {
    width: 5px
  }
  100% {
    width: 100%
  }
}
.reputation__rating {
  margin-top: 56px;
  margin-bottom: 80px
}
.reputation__rating-mobil__show {
  display: none
}
.reputation__rating-mobil__show img {
  margin: 0 auto 20px;
  display: block
}
.reputation__rating_top {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 34px
}
.reputation__rating_top h2 {
  max-width: 460px;
  margin-bottom: 16px
}
.reputation__rating_top .description {
  font-size: 14px;
  color: #818181;
  display: inline-block;
  max-width: 541px
}
.reputation__rating_top .description span {
  color: #005dff
}
.reputation__rating_top .right {
  max-width: 265px;
  width: 100%
}
.reputation__rating_top .right .button {
  font-size: 14px;
  color: #fff;
  max-width: 265px;
  background-color: #005dff;
  font-family: Gilroy-Medium;
  height: 40px;
  padding: 12px 0;
  letter-spacing: .5px
}
.reputation__rating_top .right .button:hover {
  background-color: #0050db
}
.reputation__rating_center {
  border: 1px solid #d1dbe3;
  border-radius: 10px;
  padding: 24px 32px;
  margin-bottom: 16px;
  background-position: right 27px top 62px;
  background-repeat: no-repeat;
  background-size: auto
}
.reputation__rating_center-form {
  font-family: Gilroy-Bold;
  color: #005dff;
  margin-bottom: 10px;
  width: 100%;
  max-width: 286px
}
.reputation__rating_center-items {
  width: 100%;
  max-width: 720px
}
.reputation__rating_center-item {
  margin-bottom: 8px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center
}
.reputation__rating_center-item:nth-child(5) {
  margin-bottom: 0
}
.reputation__rating_center-item:nth-child(6) {
  margin-top: 8px
}
.reputation__rating_center-item.hide {
  display: none
}
.reputation__rating_center-item .info__block {
  width: 100%;
  max-width: 332px;
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #dde8ff;
  border-radius: 5px;
  padding: 10px 20px 10px 10px
}
.reputation__rating_center-item .item_left {
  position: relative
}
.reputation__rating_center-item .item_left .icon {
  display: block;
  width: 36px;
  height: 36px
}
.reputation__rating_center-item .item_left .icon svg {
  width: 100%;
  height: 100%
}
.reputation__rating_center-item .item_left .icon svg circle {
  fill: transparent
}
.reputation__rating_center-item .item_left .text {
  font-size: 12px;
  color: #005dff;
  font-family: Gilroy-Bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}
.reputation__rating_center-item .item_center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Gilroy-Bold
}
.reputation__rating_center-item .item_center-company_name {
  display: block;
  width: 192px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  margin-right: 20px
}
.reputation__rating_center-item .item_center-company_numder {
  display: block;
  margin-right: 18px;
  margin-left: 16px;
  color: #818181
}
.reputation__rating_center-item .item_center .icon {
  display: block;
  width: 26px;
  height: 28px
}
.reputation__rating_center-item .item_center .icon svg {
  width: 100%;
  height: 100%
}
.reputation__rating_center-item .item_right {
  width: 100%;
  height: 58px;
  position: relative;
  left: -5px
}
.reputation__rating_center-item .item_right .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  display: block;
  font-family: Gilroy-Bold;
  color: #005dff
}
.reputation__rating_center-item .item_right--pseudo {
  background: repeating-linear-gradient(-35deg,rgba(190,210,252,.7),rgba(190,210,252,.5) 1px,rgba(221,232,255,.7) 2px,rgba(221,232,255,.7) 30px);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  z-index: -1
}
.reputation__rating_center-item.not__vinco .item_left .icon svg path {
  stroke: #d1dbe3
}
.reputation__rating_center-item.not__vinco .item_left .text {
  color: #818181
}
.reputation__rating_center-item.not__vinco .info__block {
  background: #f7f7f7;
  border-color: transparent
}
.reputation__rating_center-item.not__vinco .item_center .icon {
  display: none
}
.reputation__rating_center-item.not__vinco .item_center-company_name {
  color: #818181
}
.reputation__rating_center-item.not__vinco .item_right--pseudo {
  background: repeating-linear-gradient(-35deg,rgba(190,210,252,.5),rgba(190,210,252,.2) 1px,rgba(221,232,255,.2) 2px,rgba(221,232,255,.2) 30px)
}
.reputation__rating_center .show__more {
  font-size: 14px;
  color: #818181;
  cursor: pointer;
  margin-top: 16px;
  transition: .3s ease-in-out;
  position: relative;
  display: inline-block
}
.reputation__rating_center .show__more::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #818181;
  position: absolute;
  bottom: 0;
  left: 0
}
.reputation__rating_center .show__more:hover::after {
  content: none
}
.reputation__rating_bottom {
  font-size: 14px
}
.reputation__rating_bottom .top {
  display: flex;
  align-items: center;
  margin-bottom: 4px
}
.reputation__rating_bottom .top .icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 8px
}
.reputation__rating_bottom .top .text {
  font-family: Gilroy-Bold;
  color: #35a34a
}
.reputation__rating_bottom .bottom {
  color: #818181;
  max-width: 425px
}
.reputation__rating_bottom .bottom span {
  color: #005dff
}
.reputation__rating_bottom .bottom a {
  color: #818181;
  position: relative;
  display: inline-block
}
.reputation__rating_bottom .bottom a::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #818181;
  position: absolute;
  bottom: 0;
  left: 0
}
.reputation__rating_bottom .bottom a:hover::after {
  content: none
}
.reputation__rating .choices[data-type*=select-one].is-open:after {
  border-color: transparent transparent #005dff
}
.reputation__rating .choices[data-type*=select-one]:after {
  border-color: #005dff transparent transparent
}
.reputation__rating .choices__inner {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding-left: 0;
  padding-bottom: 0!important;
  padding-top: 0!important;
  min-height: 1px
}
.reputation__rating .choices__list--single .choices__item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 260px
}
.reputation__rating .choices__list--dropdown {
  box-shadow: 0 4px 6px 4px rgba(0,0,0,.1);
  border-radius: 5px;
  border: none
}
.reputation__rating .choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
  color: #000
}
.reputation__rating .choices__list--dropdown .choices__item--selectable:hover {
  color: #005dff
}
.reputation__rating .choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: transparent
}
@media screen and (max-width:1190px) {
  .first__page_top .slick-prev {
    left: -15px
  }
  .first__page_top .slick-next {
    right: -15px
  }
  .you__reviews .slick-prev {
    left: -15px
  }
  .you__reviews .slick-next {
    right: -15px
  }
  .what__task .slick-prev {
    left: 0
  }
  .what__task .slick-next {
    right: 0
  }
  .first__page_ready-des .slick-next,
  .first__page_ready-des .slick-prev {
    top: 44%
  }
  .first__page_ready-des .slick-prev {
    left: 0
  }
  .first__page_ready-des .slick-next {
    right: 0
  }
  .equipment__manufacturers .slick-prev {
    left: -15px
  }
  .equipment__manufacturers .slick-next {
    right: -15px
  }
  .about__us .slick-prev {
    left: -15px
  }
  .about__us .slick-next {
    right: -15px
  }
  .must__now .slick-prev {
    left: -15px
  }
  .must__now .slick-next {
    right: -15px
  }
}
@media screen and (max-width:1024px) {
  .first__page_top .slick-dots,
  .you__reviews .slick-dots {
    bottom: -35px
  }
  .you__reviews_item {
    margin-right: 20px
  }
  .what__task .slick-dots {
    bottom: 10px
  }
  .first__page_ready-des .pack span p {
    font-size: 20px
  }
  .first__page_ready-des .price__button a {
    padding: 12px 80px
  }
  .first__page_ready-des .slick-dots {
    bottom: 30px
  }
  .about__us .slick-dots,
  .equipment__manufacturers .slick-dots,
  .must__now .slick-dots {
    bottom: -35px
  }
  .must__now .slick-dots {
    bottom: 10px
  }
  .reputation__rating_center {
    background-image: none!important;
    padding: 24px 15px;
    width: calc(100% + 30px);
    position: relative;
    left: -15px
  }
}
@media screen and (max-width:767px) {
  .first__page_top .slider__item {
    padding: 20px 10px;
    flex-wrap: wrap;
    flex-direction: column-reverse
  }
  .first__page_top .slider__item-right {
    margin-bottom: 20px
  }
  .open__for-item {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px
  }
  .you__reviews .slick-dots {
    bottom: -27px
  }
  .you__reviews_head .button {
    margin-top: 20px
  }
  .what__task_item,
  .you__reviews_item {
    margin-right: 10px;
    margin-left: 10px
  }
  .first__page_ready-des .pack {
    margin: 0 10px
  }
  .equipment__manufacturers_items {
    background-position: right bottom 45px
  }
  .equipment__manufacturers_item {
    margin: 0 10px
  }
  .equipment__manufacturers .item__video {
    position: relative;
    bottom: 10px
  }
  .safe__pay_left {
    margin-bottom: 20px;
    max-width: 100%;
    padding: 20px;
    background-image: url(../img/first__page/save_mony_bg.png);
    background-repeat: no-repeat;
    background-position: right -10px bottom -30px;
    background-size: 50%
  }
  .safe__pay_left-img {
    display: none
  }
  .safe__pay_right {
    max-width: 100%;
    padding: 20px
  }
  .about__us .item__video {
    position: relative
  }
  .must__now_item--pseudo-items .slick-dots {
    bottom: unset
  }
  .reputation__rating-mobil__show {
    display: block
  }
  .reputation__rating_top .right .button {
    margin-top: 20px
  }
  .reputation__rating_center-form {
    max-width: 100%
  }
  .reputation__rating_center-item .info__block {
    padding: 10px;
    max-width: 100%;
    background: 0 0;
    border-color: transparent
  }
  .reputation__rating_center-item .item_center {
    width: 89%
  }
  .reputation__rating_center-item .item_center-company_name {
    margin-right: auto;
    width: 75%
  }
  .reputation__rating_center-item .item_center-company_numder {
    margin-right: 9px;
    margin-left: 9px
  }
  .reputation__rating_center-item .item_right {
    position: absolute;
    left: 0
  }
  .reputation__rating_center-item .item_right--pseudo {
    background: rgba(221,232,255,.7);
    border-radius: 5px
  }
  .reputation__rating_center-item .item_right--pseudo .text {
    display: none
  }
  .reputation__rating_center-item.not__vinco .info__block {
    background: 0 0
  }
  .reputation__rating_center-item.not__vinco .item_right--pseudo {
    background: rgba(147,181,255,.11)
  }
}
@media screen and (max-width:320px) {
  .you__reviews_item {
    max-width: 300px
  }
  .you__reviews_item-top .top_bottom-raityng .right .company_name {
    max-width: 200px
  }
  .first__page_ready-des .pack {
    max-width: 300px
  }
  .first__page_ready-des .pack__predloj {
    padding: 15px;
    min-height: 547px;
    margin: 0 auto
  }
  .first__page_ready-des .predloj__present {
    max-width: 260px
  }
  .first__page_ready-des .main__left h3 {
    padding-bottom: 15px
  }
  .equipment__manufacturers_item {
    max-width: 300px
  }
  .reputation__rating_center-item .item_center {
    width: 86%
  }
  .reputation__rating_center-item .item_center-company_numder {
    margin-right: 5px;
    margin-left: 5px
  }
}
@media screen and (min-width:767px) and (max-width:1190px) {
  .open__for-item {
    margin-bottom: 20px;
    max-width: 32%;
    padding: 32px 20px 27px
  }
  .open__for-item .top .text {
    max-width: 60%
  }
  .safe__pay_left {
    max-width: 100%
  }
  .safe__pay_right {
    max-width: 100%;
    margin-top: 20px
  }
}