.chop-list{
padding: 0 24px;
}
.chop-list__item{
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
margin: 0 0 24px 0;
}
.chop-list__item{
border: 1px solid #D1DBE3;
box-sizing: border-box;
border-radius: 10px;
padding: 24px;
}
.chop-list__item-rating{
background: #005DFF;
border-radius: 3px;
color: #fff;
font-size: 18px;
font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
line-height: 22px;
padding: 7px 18px 8px;
margin: 0 30px 0 0;
}
.chop-list__item-title{
color: #020202;
font-size: 18px;
font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
line-height: 22px;
padding: 0 0 16px 0;
}
.chop-list__item-services{
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
margin: 0 0 24px 0;
}
.chop-list__item-services-elem{
background: #f3f3f3;
border-radius: 5px;
color: #020202;
font-size: 14px;
font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
line-height: 17px;
padding: 8px 7px;
margin: 0 10px 0 0;
}
.chop-list__item-services-elem:hover{
background: #dde8ff;
color: #005dff;
}
.chop-list__item-description{
color: #020202;
font-size: 16px;
font-family: 'Gilroy';
font-style: normal;
font-weight: normal;
line-height: 23px;
}

.chop-detail{
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-between;

width: 1146px;
margin: 0 auto;
}
.chop-detail__info{
width: 754px;
}
.chop-detail__info h1{
margin: 0 0 16px 0;
}
.chop-detail__cityinfo{
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
margin: 0 0 19px 0;
}
.chop-detail__city{
margin: 0 24px 0 0;
position: relative;
}
.chop-detail__city>a{
color: #005dff;
font-size: 16px;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
line-height: 19px;
text-decoration: none;
}
.chop-detail__citieslist, .chop-detail__reviewscount{
color: #818181;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
}
.chop-detail__citieslist{
margin: 0 24px 0 0;
}
.chop-detail__citieslist>a, .chop-detail__reviewscount>a{
color: #005dff;
text-decoration: underline;
}
.chop-detail__data{
border-top: 1px solid #d1dbe3;
padding: 24px 0 0;
}
.chop-detail__phone, .chop-detail__address{
color: #020202;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 23px;
margin: 0 0 16px 0;
padding: 0 0 0 29px;
position: relative;
}
.chop-detail__phone:before, .chop-detail__address:before{
content: "";
background-size: cover;
position: absolute;
left: 0;
top: 50%;
z-index: 1;
}
.chop-detail__phone:before{
background: url(/upload/images/svg/icon-phone.svg) no-repeat 0 0 transparent;
width: 18px;
height: 18px;
margin: -9px 0 0 0;
}
.chop-detail__address:before{
background: url(/upload/images/svg/icon-place.svg) no-repeat 0 0 transparent;
width: 14px;
height: 20px;
margin: -10px 0 0 0;
}
.chop-detail__text{
color: #020202;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 23px;
margin: 0 0 32px 0;
padding: 8px 0 0 0;
}
.chop-detail__services-title{
color: #000;
font-family: Gilroy;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 23px;
margin: 0 0 16px 0;
}
.chop-detail__services-list{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;
justify-content: flex-start;
}
.chop-detail__services-item{
background: #efefef;
border-radius: 5px;
color: #020202;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
padding: 7px 8px;
margin: 0 8px 8px 0;
}
.chop-detail__services-item:hover{
background: #dde8ff;
color: #005dff;
}

.chop-detail__rating{
background: #f6f6f6;
border-radius: 15px;
box-sizing: border-box;
position: relative;
padding: 32px 24px;
width: 362px;
}
.chop-detail__rating-confirmed{
background: #26ab5b;
color: #fff;
font-size: 12px;
line-height: 16px;
font-family: Gilroy;
font-weight: 600;
padding: 0 8px;
position: absolute;
left: 25px;
top: -8px;
z-index: 2;
}
.chop-detail__rating-title{
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
margin: 0 0 32px 0;
}
.chop-detail__rating-title-text{
color: #020202;
font-family: Gilroy;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
margin: 0 16px 0 0;
}
.chop-detail__rating-title-rate{
background: #005dff;
border-radius: 3px;
color: #fff;
font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
padding: 8px 15px;
margin: 0 16px 0 0;
}
.chop-detail__rating-title-question{
background: url(/upload/images/svg/icon-question.svg) no-repeat 0 0 transparent;
background-size: cover;
cursor: pointer;
width: 14px;
height: 14px;
}
.chop-detail__rating-list{
margin: 0 0 28px 0;
}
.chop-detail-rating-row{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
align-content: space-between;
margin: 0 0 4px 0;
}
.chop-detail-rating-row-fill-wrap{
position: relative;
width: 264px;
}
.chop-detail-rating-row-name{
color: #020202;
font-family: Gilroy;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
padding: 6px 0 6px 12px;
position: relative;
z-index: 2;
}
.chop-detail-rating-row-fill{
background: #dde8ff;
border-radius: 3px;
box-sizing: border-box;
position: absolute;
left: 0;
top: 0;
height: 32px;
z-index: 1;
}
.chop-detail-rating-row-rate{
color: #005dff;
font-family: Gilroy;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: right;
}
.chop-detail__rating-button{
margin: 0 0 10px 0;
}
.chop-detail__reviews{
margin: 30px 0 0;
}
.chop-detail__reviews-list{
border-top: 1px solid #d1dbe3;
margin: 66px 0 62px;
}
.chop-detail__reviews-item{
border-bottom: 1px solid #d1dbe3;
padding: 32px 0;
}
.chop-detail__reviews-header{
margin: 0 0 24px 0;
}
.chop-detail__reviews-top{
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
margin: 0 0 9px 0;
}
.chop-detail__reviews-fio{
color: #020202;
font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
}
.chop-detail__reviews-verified{
color: #005dff;
font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 23px;
margin: 0 0 0 11px;
padding: 0 0 0 26px;
position: relative;
}
.chop-detail__reviews-verified:before{
content: "";
background: url(/upload/images/svg/icon-verify.svg) no-repeat 0 0 transparent;
background-size: cover;
width: 20px;
height: 20px;
position: absolute;
left: 0;
top: 50%;
margin: -10px 0 0 0;
z-index: 1;
}
.chop-detail__reviews-city{
color: #90a2b0;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 23px;
}
.chop-detail__reviews-rate{
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
margin: 0 0 32px;
}
.chop-detail__reviews-rate-value{
background: #005dff;
border-radius: 3px;
color: #fff;
font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
padding: 8px 15px;
}
.chop-detail__reviews-rate-title{
color: #020202;
font-family: Gilroy;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
margin: 0 0 0 16px;
}
.chop-detail__reviews-comment{
margin: 0 0 24px 0;
}
.chop-detail__reviews-comment-title{
color: #020202;
font-family: Gilroy;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
margin: 0 0 16px 0;
}
.chop-detail__reviews-comment-val{
color: #020202;
font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 23px;
}
.chop-detail__reviews-data{
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
}
.chop-detail__reviews-date{
color: #90a2b0;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 23px;
}
.chop-detail__reviews-useful-title{
color: #90a2b0;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 23px;
margin: 0 0 0 16px;
}
.chop-detail__reviews-userful-likes{
background: url(/upload/images/svg/icon-like.svg) no-repeat 0 0 transparent;
background-size: cover;
display: block;
width: 17px;
height: 16px;
margin: 0 0 0 18px;
}
.chop-detail__reviews-userful-dislikes{
background: url(/upload/images/svg/icon-dislike.svg) no-repeat 0 0 transparent;
background-size: cover;
display: block;
width: 17px;
height: 16px;
margin: 0 0 0 10px;
}
.button__ajax-loader{
background: #fff;
border: 1px solid #d1dbe3;
border-radius: 5px;
color: #005dff;
display: block;
font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 38px;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
text-decoration: none;
}



.button__fullwidth{
border-radius: 5px;
box-sizing: border-box;
display: block;
font-size: 14px;
font-family: Gilroy;
font-weight: bold;
line-height: 17px;
padding: 16px 0;
text-align: center;
text-transform: uppercase;
text-decoration: none;
}
.button__blue{
background: #005dff;
border: 2px solid #005dff;
color: #fff;
}
.button__transparent{
background: transparent;
border: 2px solid #005dff;
color: #005dff;
}
.button__review-new{
padding: 0;
line-height: 38px;
margin: 16px 0 0;
}
.filter{
background: #f6f6f6;
border-radius: 10px;
box-sizing: border-box;
padding: 40px;
margin: 0 0 40px 0;
}
.filter__flex{
display: flex;
flex-direction: row;
align-items: flex-end;
justify-content: space-between;
}
.filter__item-title{
color: #020202;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
margin: 0 0 16px 0;
}
.filter__select{
background: #fff;
border-radius: 3px;
border: 0;
box-sizing: border-box;
color: #000;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
outline: 0;
padding: 12px 47px 12px 16px;
position: relative;
}
.filter__item-picker-place .filter__select{
padding: 12px 47px 12px 37px;
}
.filter__item-picker-place{
position: relative;
}
.filter__item-picker-place:before{
content: "";
background: url(images/svg/icon-place-blue.svg) no-repeat 0 0 transparent;
background-size: cover;
width: 12px;
height: 17px;
position: absolute;
left: 13px;
top: 50%;
margin: -8px 0 0 0;
z-index: 1;
}
.filter__submit{
background: #005dff;
border-radius: 5px;
box-sizing: border-box;
border: 0;
color: #fff;
cursor: pointer;
font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.05em;
outline: 0;
padding: 12px 0;
text-align: center;
text-transform: uppercase;
width: 241px;
}

.chop__sort{
color: #020202;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
margin: 0 6px 24px 0;
}
.chop__item{
border: 1px solid #d1dbe3;
box-sizing: border-box;
border-radius: 10px;
padding: 31px 31px 24px 24px;
margin: 0 0 24px 0;
}
.chop__flex{
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-between;
}
.chop__rate{
width: 102px;
margin: 0 36px 0 0;
}
.chop__rate-flex{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.chop__rate-item{
margin: 0 0 19px 0;
text-align: center;
}
.chop__rate-value{
background: #dde8ff;
border-radius: 3px;
color: #005dff;
font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
padding: 6px 0 7px;
text-align: center;
margin: 0 auto;
width: 80px;
}
.chop__rate-value-place{
background: #005dff;
color: #fff;
}
.chop__rate-place{
color: #818181;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
margin: 5px 0 0 0;
text-align: center;
}
.chop__rate-how{
color: #818181;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
padding: 21px 0 0 0;
position: relative;
text-align: center;
}
.chop__rate-how:before{
content: "";
background: url(images/svg/icon-question-gray.svg) no-repeat 0 0 transparent;
background-size: cover;
width: 14px;
height: 14px;
margin: 0 auto;
position: absolute;
left: 0;
right: 0;
top: 0;
z-index: 1;
}
.chop__title, .chop__title>a{
color: #020202;
font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
margin: 0 0 16px 0;
text-decoration: none;
}
.chop__icons{
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
margin: 0 0 24px 0;
}
.chop__icon-item{
margin: 0 10px 0 0;
position: relative;
width: 40px;
height: 40px;
z-index: 2;
}
.chop__icon-item-rouble{
background: url(images/svg/icon-rouble.svg) no-repeat 50% 50% transparent;
background-size: cover;
width: 14px;
height: 19px;
position: absolute;
left: 0;
right: 0;
top: 50%;
margin: -9px auto 0 auto;
z-index: 2;
}
.chop__icon-item-client{
background: url(images/svg/icon-client.svg) no-repeat 50% 50% transparent;
background-size: cover;
width: 16px;
height: 19px;
position: absolute;
left: 0;
right: 0;
top: 50%;
margin: -9px auto 0 auto;
z-index: 2;
}
.chop__icon-item:before{
content: "";
background: url(images/svg/icon-bgicon.svg) no-repeat 0 0 transparent;
background-size: cover;
width: 40px;
height: 40px;
position: absolute;
left: 0;
top: 0;
z-index: 1;
}
.chop__service{
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
margin: 0 0 24px 0;
}
.chop__service-item{
background: #f3f3f3;
border-radius: 5px;
color: #020202;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
padding: 7px 8px;
margin: 0 10px 0 0;
text-decoration: none;
}
.chop__announce{
color: #020202;
font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 23px;
margin: 0 0 22px 0;
}
.chop__cities{
color: #818181;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
}
.chop__detail{
margin: 0 0 0 68px;
}
.chop__detail-item{
margin: 0 0 16px 0;
}
.chop__detail-title{
color: #818181;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
margin: 0 0 8px 0;
}
.chop__detail-value{
color: #005dff;
font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
}
.chop__detail-button{
padding: 8px 0 0 0;
}
.chop__detail-link{
border: 2px solid #005dff;
border-radius: 5px;
color: #005dff;
display: block;
font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.05em;
text-transform: uppercase;
text-decoration: none;
text-align: center;
padding: 16px 0;
width: 232px;
}
.chop__list-loadmore{
padding: 8px 0 0 0;
}
.button__ajax-loader{
background: #fff;
border: 1px solid #d1dbe3;
border-radius: 5px;
color: #005dff;
display: block;
font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 38px;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
text-decoration: none;
}

.chop-item{
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-between;
margin: 58px 0 0;
}
.chop-item__info{
width: 753px;
}
.chop-item__info h1{
color: #020202;
font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 44px;
padding: 0;
margin: 0;
}
.chop-item__verify{
color: #005dff;
font-family: Gilroy;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 23px;
margin: 16px 0 0;
padding: 0 0 0 23px;
position: relative;
}
.chop-item__verify:before{
content: "";
background: url(images/svg/icon-verify.svg) no-repeat 0 0 transparent;
background-size: cover;
position: absolute;
left: 0;
top: 50%;
margin: -8px 0 0 0;
height: 17px;
width: 17px;
z-index: 1;
}
.chop-item__cityinfo{
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
margin: 24px 0 13px 0;
}
.chop-item__city{
margin: 0 24px 0 0;
}
.chop-item__city>a{
color: #005dff;
font-size: 16px;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
line-height: 19px;
text-decoration: none;
padding: 0 17px 0 0;
position: relative;
}
.chop-item__city>a:after{
content: "";
background: url(images/svg/icon-arrow-triangle-bot.svg) no-repeat 0 0 transparent;
background-size: cover;
width: 9px;
height: 6px;
position: absolute;
right: 0;
top: 50%;
margin: -3px 0 0 0;
z-index: 1;
}
.chop-item__citieslist, .chop-item__reviewscount{
color: #818181;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
}
.chop-item__citieslist{
margin: 0 24px 0 0;
}
.chop-item__citieslist>a, .chop-item__reviewscount>a{
color: #005dff;
text-decoration: underline;
}
.chop-item__text{
border-top: 1px solid #d1dbe3;
color: #020202;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 23px;
padding: 32px 0 0 0;
margin: 0;
}
.chop-item__text p{
margin: 0 0 24px 0;
}
.chop-item__data{
display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
margin: 24px 0 0 0;
width: 500px;
}
.chop-item__data-item{
color: #818181;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
margin: 0 0 16px 0;
padding: 0 32px 0 32px;
position: relative;
}
.chop-item__data-item:before{
content: "";
background-repeat: no-repeat;
background-position: 0 0;
background-color: transparent;
background-size: cover;
width: 22px;
height: 22px;
position: absolute;
left: 0;
top: 50%;
margin: -11px 0 0 0;
z-index: 1;
}
.chop-item__data-naploshadke:before{
background-image: url(images/svg/icon-chop-naploshadke.svg);
}
.chop-item__data-actual:before{
background-image: url(images/svg/icon-chop-actual.svg);
}
.chop-item__data-viewsmonth:before{
background-image: url(images/svg/icon-chop-viewsmonth.svg);
}
.chop-item__data-viewsall:before{
background-image: url(images/svg/icon-chop-viewsall.svg);
}
.chop-item__rate-wrap{
background: #fff;
border: 2px solid #005dff;
border-radius: 15px;
box-sizing: border-box;
padding: 24px;
width: 366px;
}
.chop-item__rate-full{
border-radius: 3px;
box-sizing: border-box;
display: table;
width: 100%;
}
.chop-item__rate-switcher{
border-radius: 3px 0 0 3px;
border: 2px solid #d1dbe3;
display: table-cell;
width: 40px;
height: 68px;
text-align: center;
vertical-align: middle;
}
.chop-item__rate-switcher-icon{
display: block;
background: url(images/svg/icon-switcher.svg) no-repeat 0 0 transparent;
background-size: cover;
width: 16px;
height: 23px;
margin: 0 auto;
}
.chop-item__rate-place{
border-top: 2px solid #d1dbe3;
border-bottom: 2px solid #d1dbe3;
display: table-cell;
text-align: center;
vertical-align: middle;
}
.chop-item__rate-place-name{
box-sizing: border-box;
color: #818181;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
padding: 8px 5px 8px 10px;
text-align: left;
}
.chop-item__rate-place-name-all{
border-top: 2px solid #d1dbe3;
}
.chop-item__rate-place-name.selected{
color: #005dff;
font-weight: 600;
}
.chop-item__rate-value{
background: #005dff;
border-radius: 0 3px 3px 0;
color: #fff;
display: table-cell;
text-align: center;
vertical-align: middle;
font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
width: 62px;
height: 68px;
}
.chop-item__rate-list{
margin: 17px 0 0;
}
.chop-item__rate-row{
margin: 0 0 6px 0;
position: relative;
}
.chop-item__rate-row-fill{
background: #dde8ff;
border-radius: 3px;
height: 32px;
position: absolute;
left: 0;
right: 0;
top: 0;
z-index: 1;
}
.chop-item__rate-row-flex{
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 0 10px;
position: relative;
z-index: 2;
}
.chop-item__rate-row-name{
color: #005dff;
font-family: Gilroy;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 32px;
position: relative;
padding: 0 0 0 30px;
}
.chop-item__rate-row-name:before{
content: "";
background-repeat: no-repeat;
background-position: 0 0;
background-color: transparent;
background-size: cover;
position: absolute;
top: 50%;
z-index: 1;
}
.chop-item__rate-icon-client:before{
background-image: url(images/svg/icon-client.svg);
width: 14px;
height: 17px;
left: 3px;
margin: -8px 0 0 0;
}
.chop-item__rate-icon-speed:before{
background-image: url(images/svg/icon-speed.svg);
width: 15px;
height: 21px;
left: 2px;
margin: -10px 0 0 0;
}
.chop-item__rate-icon-finance:before{
background-image: url(images/svg/icon-rouble.svg);
width: 14px;
height: 19px;
left: 3px;
margin: -9px 0 0 0;
}
.chop-item__rate-icon-dogovor:before{
background-image: url(images/svg/icon-dogovor.svg);
width: 20px;
height: 20px;
left: 0;
margin: -10px 0 0 0;
}
.chop-item__rate-icon-recommend:before{
background-image: url(images/svg/icon-recommend.svg);
width: 21px;
height: 17px;
left: 0;
margin: -8px 0 0 0;
}
.chop-item__rate-icon-online:before{
background-image: url(images/svg/icon-onlineservices.svg);
width: 20px;
height: 20px;
left: 0;
margin: -10px 0 0 0;
}
.chop-item__rate-row-value{
color: #005dff;
font-family: Gilroy;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 32px;
}
.chop-item__button-packet{
background: #005dff;
border-radius: 5px;
box-sizing: border-box;
color: #fff;
display: block;
font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 48px;
letter-spacing: 0.05em;
margin: 18px 0 0;
text-align: center;
text-decoration: none;
text-transform: uppercase;
}
.chop-item__button-review{
background: #fff;
border: 2px solid #d1dbe3;
box-sizing: border-box;
border-radius: 5px;
color: #000;
display: block;
font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 48px;
letter-spacing: 0.05em;
margin: 10px 0 0;
text-align: center;
text-decoration: none;
text-transform: uppercase;
}
.chop__tabs{
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
margin: 40px 0 0 0;
}
.chop__tab-item{
display: block;
border-bottom: 1px solid #d1dbe3;
color: #020202;
font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 55px;
text-align: center;
text-decoration: none;
width: 166px;
}
.chop__tab-item:hover, .chop__tab-item.selected{
border-bottom: 2px solid #005dff;
line-height: 54px;
}
.chop-item__block{
display: none;
margin: 48px 0 0;
}
.chop-item__block.selected{
display: block;
}
.packets__list{
margin: 40px 0 0;
}