@charset "UTF-8";
.rub-price-s:after {
  content: " ₽"
}
.sensors-collection .complect__slider-datchiki-main .slick-slide .slide {
  padding-top: 0
}
.sensors-collection .prev-next-slide .slide {
  padding-top: 54px!important
}
.sensors-collection .slick-current .slide {
  padding-top: 102px!important
}
.sensors-benefits .blue {
  color: #005dff;
  display: block
}
.sensors-benefits .benefits__item {
  display: block
}
.sensors-benefits .benefits__item-left {
  padding-right: 22%
}
.sensors-benefits .benefits__item-right {
  padding-bottom: 7rem
}
.sensors-benefits .benefits__desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 124.3%;
  color: #818181
}
.sensors-benefits .benefits__get-bonuses {
  width: -webkit-fit-content!important;
  width: fit-content!important;
  width: -moz-fit-content!important;
  font-size: 14px;
  line-height: 17px;
  padding: 11.5px 33.5px!important
}
.sensors-benefits .benefits__design-block {
  width: 44%;
  height: 100%;
  background: rgba(221,232,255,.5);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  border-radius: 10px
}
.sensors-collection {
  width: 100%;
  margin-bottom: 0
}
.sensors-collection .sensors-collection__tabs {
  margin-top: 34px
}
.sensors-collection .sensors-collection__tab .sensors-collection__recommendation {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: .3s ease-in-out
}
.sensors-collection .sensors-collection__tab.active .sensors-collection__container {
  opacity: 1;
  border: 1px solid #dde8ff;
  box-shadow: 0 10px 10px rgba(0,56,200,.1);
  position: relative
}
.sensors-collection .sensors-collection__tab.active .sensors-collection__container::after {
  content: "";
  width: 100%;
  height: 20px;
  background-color: transparent;
  z-index: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  box-shadow: 0 2px 0 #93b6ff
}
.sensors-collection .sensors-collection__tab.active .sensors-collection__recommendation {
  opacity: 1;
  height: auto
}
.sensors-collection .complect__slider-datchiki-color,
.sensors-collection .complect__slider-datchiki-title {
  display: none
}
.sensors-collection .slider__under-block-container .title {
  text-align: left
}
.sensors-collection p {
  text-align: justify
}
.sensors-collection .blue {
  color: #005dff
}
.sensors-collection h2 {
  margin-bottom: 32px
}
.sensors-collection__tabs {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr
}
.sensors-collection__container {
  cursor: pointer;
  width: 100%;
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #d1dbe3;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: .6
}
.sensors-collection__container .h4,
.sensors-collection__container h4 {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px
}
.sensors-collection input[type=radio] {
  display: none
}
.sensors-collection input:checked + label .sensors-collection__container {
  transition: .3s;
  opacity: 1;
  border-bottom: 3px solid #93b6ff;
  border-radius: 10px
}
.sensors-collection .sensors-collection__container:hover {
  box-shadow: 0 10px 30px rgba(0,56,200,.1);
  transition: .3s ease-in-out
}
.sensors-collection__recommendation {
  display: block;
  margin-top: 18px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #818181;
  opacity: 0
}
.sensors-collection__recommendation .p,
.sensors-collection__recommendation p {
  opacity: .6
}
.sensors-collection__recommendation-info {
  text-decoration: underline
}
.sensors-collection .sensors-collection__choice {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 32px
}
.sensors-collection .sensors-collection__action_active {
  display: none;
  -ms-grid-row-align: end;
  -ms-grid-column-align: end;
  place-self: end
}
.sensors-collection__title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 100%;
  text-align: center;
  color: #005dff;
  padding-bottom: 10px;
  border-bottom: 1px solid #005dff;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content
}
.sensors-collection__search {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: flex;
  padding: 0 18px
}
.sensors-collection__search > * {
  height: 2em
}
.sensors-collection__search .loup {
  margin-right: 1ch;
  display: flex;
  align-items: center
}
.sensors-collection__free-change {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  color: #818181;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px
}
.sensors-collection__free-change > div {
  margin-right: 1ch
}
.sensors-collection__cost {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-row-align: end;
  -ms-grid-column-align: end;
  place-self: end
}
.sensors-collection__rub-price {
  color: #f5c000;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px
}
.sensors-collection__bonuses-price {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #005dff;
  text-decoration: underline;
  text-align: right
}
.sensors-collection__bonuses-price input,
.sensors-collection__bonuses-price-answer {
  display: none
}
.sensors-collection__bonuses-price input:checked ~ .sensors-collection__bonuses-price-answer {
  display: block
}
.sensors-collection__bonuses-price input:checked ~ .sensors-collection__bonuses-price-question {
  display: none
}
.sensors-collection__sub-cost {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-row-align: end;
  -ms-grid-column-align: end;
  place-self: end;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #818181;
  padding-top: 8px
}
.sensors-collection__delivery {
  padding-right: 1ch
}
.sensors-collection__action {
  padding-top: 6px;
  display: flex;
  align-items: center;
  gap: 1ch
}
.sensors-collection .green {
  color: #00a272
}
.sensors-collection .complect__slider-datchiki {
  margin-top: 0!important
}
.sensors-collection .slide__head {
  padding: 20px 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr
}
.sensors-collection .slide__head-look {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2
}
.sensors-collection .slide__head-look svg {
  width: 15px;
  height: 15px
}
.sensors-collection .slide__head .slide__head-colors {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
  display: flex;
  justify-content: space-around
}
.sensors-collection .slide__head .slide__head-colors > * {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #93b6ff;
  margin: 0 5px;
  cursor: pointer
}
.sensors-collection .slide__head .slide__head-colors-white {
  background: #fff
}
.sensors-collection .slide__head .slide__head-colors-black {
  background: #000
}
.sensors-collection .slide__head .slide__head-colors input:checked + label {
  width: 22px;
  height: 22px;
  box-shadow: 0 3px 15px rgba(0,0,0,.3)
}
.sensors-collection .slick-current .slide-box-about {
  height: auto!important;
  padding: 10px 0
}
.sensors-collection .slide-box-about {
  padding: 0;
  height: 0;
  overflow: hidden;
  background: rgba(230,230,230,.301);
  border-radius: 0 0 5px 5px;
  display: flow-root
}
.sensors-collection .slick-slider-datchiki .slide .slide-box {
  height: auto!important
}
.sensors-collection .slider__under:before {
  content: "";
  display: none
}
.sensors-collection .close {
  height: unset!important;
  padding-bottom: 0!important
}
.sensors-collection .close .slider__under-block-container {
  height: 0!important
}
.sensors-collection .close .slider__under-block-2,
.sensors-collection .close .title {
  display: none
}
.sensors-collection .slider__under-block-1 {
  display: block;
  height: auto;
  padding-bottom: 20px
}
.sensors-collection .slider__under-title {
  cursor: pointer;
  padding: 24px 40px;
  padding-right: 10ch!important
}
.sensors-collection .close-btn::before {
  display: none
}
.sensors-collection .slider__under-block-2 .title {
  text-align: left;
  padding-left: 30px
}
.sensors-collection .close-btn {
  width: 10ch!important;
  right: 40px!important;
  top: 26px!important;
  left: unset!important;
  height: -webkit-fit-content!important;
  height: fit-content!important;
  height: -moz-fit-content!important;
  padding-left: 13px;
  border-left: 1px solid #d1dbe3
}
.sensors-collection .close-btn-3 {
  top: unset!important;
  bottom: -3px!important
}
.sensors-collection .slider__under-block-container {
  display: flex
}
.sensors-collection .slider__under-block-container ul li {
  width: 88%
}
.sensors-collection .slider__under-block-2 {
  height: auto;
  border: none
}
.sensors-collection .slider__under-block-2 ul li {
  left: 0
}
.sensors-collection .slick-slider-datchiki .slide {
  padding-top: 102px;
  padding-bottom: 102px
}
.sensors-collection .slider__under-block-2 li {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  width: 100%
}
.sensors-collection .slider__under-block-2 li::before {
  display: none
}
.sensors-collection .slide__main-info {
  padding: 0 27px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 66% 34%;
  grid-template-columns: 66% 34%
}
.sensors-collection .slide__main-info .slide__title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 17px;
  font-weight: 700
}
.sensors-collection .slide__main-info .slide__desc {
  margin-top: 8px;
  line-height: 12px!important;
  font-size: 9px;
  padding-right: 2ch;
  color: #818181;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3
}
.sensors-collection .slide__main-info .sensors-collection__cost {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  text-align: right
}
.sensors-collection .slide__main-info .sensors-collection__cost .sensors-collection__rub-price {
  font-size: 15px!important
}
.sensors-collection .slide__main-info .sensors-collection__cost .sensors-collection__bonuses-price {
  font-size: 8px
}
.sensors-collection .slide__main-info .slide__buy {
  margin-top: 8px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: flex
}
.sensors-collection .slide__main-info .slide__buy .slide__buy-num {
  padding: .3ch;
  width: 100%;
  border: 1px solid #d1dbe3;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  place-items: center;
  font-size: 10px;
  gap: .5ch;
  max-width: 6ch
}
.sensors-collection .slide__main-info .slide__buy .slide__buy-num input {
  height: 100%;
  text-align: right;
  margin-right: -3ch;
  padding-right: 3ch;
  background: 0 0;
  z-index: 10
}
.sensors-collection .slide__main-info .slide__buy .slide__buy-num input:focus + .sht {
  opacity: 0
}
.sensors-collection .slide__main-info .slide__buy label {
  position: relative
}
.sensors-collection .slide__main-info .slide__buy label input {
  display: none
}
.sensors-collection .slide__main-info .slide__buy label .slide__buy-block {
  cursor: pointer;
  background: #d1dbe3;
  margin-left: 8px;
  border-radius: 5px;
  width: 24px;
  height: 24px
}
.sensors-collection .slide__main-info .slide__buy label .slide__buy-block > * {
  height: 100%;
  width: 100%
}
.sensors-collection .slide__main-info .slide__buy label .slide__buy-block > * span {
  display: block;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
  width: 50%;
  height: 50%;
  position: relative
}
.sensors-collection .slide__main-info .slide__buy label .slide__buy-block > * span svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}
.sensors-collection .slide__main-info .slide__buy label .slide__buy-b + .slide__buy-block {
  display: block
}
.sensors-collection .slide__main-info .slide__buy label .slide__buy-b + .slide__buy-block .slide__buy-buy {
  display: -ms-grid;
  display: grid
}
.sensors-collection .slide__main-info .slide__buy label .slide__buy-b + .slide__buy-block .slide__buy-buy_hover,
.sensors-collection .slide__main-info .slide__buy label .slide__buy-b + .slide__buy-block .slide__buy-in,
.sensors-collection .slide__main-info .slide__buy label .slide__buy-b + .slide__buy-block .slide__buy-in_hover {
  display: none
}
.sensors-collection .slide__main-info .slide__buy label:hover .slide__buy-b + .slide__buy-block {
  background: #005dff
}
.sensors-collection .slide__main-info .slide__buy label:hover .slide__buy-b + .slide__buy-block .slide__buy-buy {
  display: none
}
.sensors-collection .slide__main-info .slide__buy label:hover .slide__buy-b + .slide__buy-block .slide__buy-buy_hover {
  display: -ms-grid;
  display: grid
}
.sensors-collection .slide__main-info .slide__buy label .slide__buy-b:checked + .slide__buy-block {
  background: #005dff
}
.sensors-collection .slide__main-info .slide__buy label .slide__buy-b:checked + .slide__buy-block .slide__buy-in {
  display: -ms-grid;
  display: grid
}
.sensors-collection .slide__main-info .slide__buy label .slide__buy-b:checked + .slide__buy-block .slide__buy-buy,
.sensors-collection .slide__main-info .slide__buy label .slide__buy-b:checked + .slide__buy-block .slide__buy-buy_hover,
.sensors-collection .slide__main-info .slide__buy label .slide__buy-b:checked + .slide__buy-block .slide__buy-in_hover {
  display: none
}
.sensors-collection .slide__main-info .slide__buy .slide-buy-surf {
  height: 10px;
  font-weight: 500;
  font-size: 9px;
  line-height: 16px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row-align: end;
  -ms-grid-column-align: end;
  place-self: end;
  position: absolute;
  right: 0;
  bottom: -10px
}
.sensors-collection .slide__main-info .slide__buy label:hover .slide__buy-b:checked + .slide__buy-block {
  background: #ff5252
}
.sensors-collection .slide__main-info .slide__buy label:hover .slide__buy-b:checked + .slide__buy-block .slide__buy-in {
  display: none
}
.sensors-collection .slide__main-info .slide__buy label:hover .slide__buy-b:checked + .slide__buy-block .slide__buy-in_hover {
  display: -ms-grid;
  display: grid
}
.sensors-collection .slide__main-info .slide__buy label .slide-buy-surf .slide-buy-surf-buy {
  color: #005dff;
  display: none
}
.sensors-collection .slide__main-info .slide__buy label .slide-buy-surf .slide-buy-surf-in {
  color: #ff5252;
  display: none
}
.sensors-collection .slide__main-info .slide__buy label:hover .slide__buy-b ~ .slide-buy-surf .slide-buy-surf-buy {
  display: block
}
.sensors-collection .slide__main-info .slide__buy label:hover .slide__buy-b ~ .slide-buy-surf .slide-buy-surf-in {
  display: none
}
.sensors-collection .slide__main-info .slide__buy label:hover .slide__buy-b:checked ~ .slide-buy-surf .slide-buy-surf-buy {
  display: none
}
.sensors-collection .slide__main-info .slide__buy label:hover .slide__buy-b:checked ~ .slide-buy-surf .slide-buy-surf-in {
  display: block
}
.sensors-collection .slide__end {
  margin-top: 8px;
  display: -ms-grid;
  display: grid;
  place-items: center
}
.sensors-collection .slide__end-li {
  margin-bottom: 0!important;
  display: -ms-grid!important;
  display: grid!important;
  place-items: center!important
}
.sensors-collection .slide__end-li:before {
  display: none
}
.sensors-collection .slick-list {
  padding-top: 13px!important;
  padding-bottom: 13px!important
}
.price__bonuses {
  width: 185px;
  padding-right: 17px;
  margin-right: 32px;
  border-right: 1px solid #d1dbe3;
  height: -webkit-fit-content;
  height: fit-content;
  height: -moz-fit-content;
  position: relative
}
.price__bonuses h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px
}
.price__bonuses-info {
  display: none;
  height: 29px
}
.price__bonuses-info-m {
  color: #818181;
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  padding-right: 18px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px
}
.price__bonuses-close {
  display: none;
  position: absolute;
  right: 14px;
  top: 0
}
.price__bonuses-cost {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  border: 1px solid #d1dbe3;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px
}
.price__bonuses-cost .blue {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #005dff
}
.price__bonuses-desc {
  color: #818181;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 14px
}
.price__bonuses input {
  display: none
}
.price__bonuses label {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #818181;
  vertical-align: middle
}
.price__bonuses label:before {
  vertical-align: middle;
  content: url(../img/addSensors/check-e.svg)
}
.price__bonuses input:checked + label:before {
  content: url(../img/addSensors/check-f.svg)
}
.section-result .solutions__bottom_column-title {
  height: 2.3rem
}
.section-result__price-bonuses-container {
  display: none
}
.section-result__price-bonuses-container * {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px
}
.section-result__price-bonuses-container .section-result__price-item-name-name {
  white-space: nowrap
}
.section-result__price-bonuses-container > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr .8fr;
  grid-template-columns: 2fr 1fr 1fr .8fr;
  grid-gap: 1ch
}
.section-result__price-bonuses-container .section-result__price-title-item {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px
}
.section-result__price-bonuses-container .section-result__price-item-bonus-cost_zero,
.section-result__price-bonuses-container .section-result__price-item-name-cost,
.section-result__price-bonuses-container .section-result__price-item-rate,
.section-result__price-bonuses-container .section-result__price-title-item {
  color: #818181;
  -ms-grid-row-align: end;
  align-self: end
}
.section-result__price-bonuses-container .section-result__price-item-bonus-cost {
  color: #005dff
}
.section-result__price-bonuses-container .section-result__price-item-rub-cost {
  color: #ff5252
}
.section-result {
  padding: 24px 28px 32px;
  border: 1px solid #d1dbe3;
  border-left: none;
  border-right: none;
  box-shadow: 0 -46px 19px -36px rgba(138,161,200,.13);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}
.section-result .solutions__bottom_column-newprice {
  line-height: 41px
}
.section-result .solutions__bottom_column-interest:before {
  display: none
}
.section-result .solutions__bottom_column-interest,
.section-result .solutions__bottom_column-monthprice {
  margin-top: 0
}
.section-result .solutions__bottom_column-interest p {
  display: flex;
  align-items: center;
  gap: .5ch
}
.section-result .solutions__bottom_column-interest p span {
  color: #000
}
.section-result .solutions__bottom_column-interest p span .blue {
  color: #005dff
}
.section-result .section-result__price-head-free {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  align-items: center;
  color: #00a272;
  display: none
}
.section-result h2 {
  font-size: 24px;
  line-height: 30px;
  width: 100%;
  padding-bottom: 32px
}
.section-result__right {
  display: flex
}
.section-result__price__montage {
  display: inline-block
}
.section-result__price__montage > * {
  vertical-align: middle
}
.section-result__price__delivery {
  display: inline-block;
  align-items: center
}
.section-result__price__delivery > * {
  vertical-align: middle
}
.section-result__left {
  margin-bottom: 5px;
  width: 44%
}
.section-result__price-head {
  border-bottom: 1px solid #d1dbe3;
  padding: 0 0 22px;
  margin-bottom: 12px
}
.section-result__price-head-buy {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}
.section-result__price-item {
  padding: 4px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3% 52% 15% 20%;
  grid-template-columns: 3% 52% 15% 20%;
  align-items: center
}
.section-result__price-item picture {
  display: -ms-grid;
  display: grid;
  place-items: center
}
.section-result__price-item-title {
  text-overflow: ellipsis;
  padding-right: 24px;
  padding-left: 12px
}
.section-result__price-item-input {
  padding: 8px;
  border: 1px solid #d1dbe3;
  border-radius: 4px;
  max-width: 9ch;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center
}
.section-result__price-item-input input {
  width: 3ch;
  border: none;
  outline: 0
}
.section-result__price-item-input input:after {
  content: "шт"
}
.section-result__price-grey {
  padding-left: 24px;
  color: #818181
}
.section-result .section-result__price-rub-container {
  display: none
}
.section-result .section-result__price-rub-container .section-result__price-item {
  padding: 6px 0
}
.section-result .h-full {
  height: 100%;
  padding-bottom: 4em
}
.section-result .vis {
  display: block!important
}
.s-ready-des {
  padding: 56px 15px
}
.s-ready-des h2.s-ready-des__title {
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 48px;
  max-width: 51ch
}
@media (min-width:767px) {
  .sensors-benefits .benefits__item-left .benefits__desc {
    max-width: 57%
  }
}
@media (max-width:1190px) {
  .section-result .section-result__left {
    width: 100%
  }
  .section-result .section-result__right {
    margin: auto;
    flex-wrap: wrap;
    place-items: center
  }
}
@media (max-width:1024px) {
  .sensors-collection__tabs {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}
@media (max-width:767px) {
  .sensors-collection .sensors-collection__choice {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr
  }
  .sensors-collection__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    margin-bottom: 5px
  }
  .sensors-collection__search {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3
  }
  .sensors-collection__free-change {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4
  }
  .sensors-collection__cost {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3
  }
  .sensors-collection__sub-cost {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4
  }
  .sensors-collection .slider__under-block-container {
    flex-wrap: wrap;
    place-items: center
  }
  .sensors-collection .slider__under-block-container > * {
    margin: auto;
    padding: 10px
  }
  .sensors-collection .slider__under-block-container * {
    max-width: 73vw
  }
  .sensors-collection .slider__under-block-container li {
    left: 0
  }
  .sensors-collection .slider__under-block-container li:before {
    display: none
  }
  .sensors-collection .slider__under-block-2 ul li {
    left: 0;
    flex-direction: column
  }
  .sensors-collection .slider__under-block-2 ul li * {
    margin: auto;
    text-align: center
  }
  .section-result .section-result__right {
    display: -ms-grid;
    display: grid
  }
  .section-result .section-result__price-item {
    -ms-grid-columns: 3% 45% 15% 37%;
    grid-template-columns: 3% 45% 15% 37%
  }
}
@media (max-width:479px) {
  .sensors-collection .sensors-collection__choice,
  .sensors-collection .sensors-collection__choice>* {
    font-size: 3vw
  }
  .sensors-collection .sensors-collection__choice .sensors-collection__action-text {
    font-size: 2.7vw
  }
  .sensors-collection .slider__under-block-1 .slider__under-title {
    padding: 10px
  }
  .sensors-collection .slider__under-block-1 .close-btn {
    right: 10px!important
  }
  .sensors-collection .slide__main-info {
    display: flex;
    flex-direction: column;
    place-items: center
  }
  .sensors-collection .slide__main-info > * {
    -ms-grid-row-align: center!important;
    -ms-grid-column-align: center!important;
    place-self: center!important
  }
}