.main {
  position: relative
}
.complect__slider-image,
.main .top-slider-bg {
  position: absolute;
  top: 0;
  right: 0
}
.complect__slider-wrapper {
  position: relative
}
.complect__slider-wrapper-item {
  display: none
}
.complect__slider-wrapper-item-title {
  font-size: 32px;
  font-weight: 700;
  margin-top: 40px
}
.complect__slider-wrapper-item-title span {
  font-size: 40px
}
.complect__slider-wrapper-item-about-top {
  display: flex;
  margin-top: 40px;
  margin-bottom: 16px
}
.complect__slider-wrapper-item-about-top li {
  display: flex;
  align-items: center;
  margin-right: 32px
}
.complect__slider-wrapper-item-about-top li p {
  width: 215px;
  font-size: 14px;
  font-weight: 500;
  margin-left: 8px
}
.complect__slider-wrapper-item-about-bottom {
  display: flex
}
.complect__slider-wrapper-item-about-bottom li {
  display: flex;
  align-items: center;
  margin-right: 32px
}
.complect__slider-wrapper-item-about-bottom li p {
  width: 215px;
  font-size: 14px;
  font-weight: 500;
  margin-left: 8px
}
.complect__slider-wrapper-item-price {
  position: absolute;
  right: 20px;
  bottom: 0
}
.complect__slider-wrapper-item-price p {
  font-size: 16px;
  font-weight: 600
}
.complect__slider-wrapper-item-price p span {
  font-size: 32px;
  font-weight: 700
}
.complect__slider-wrapper-item-price p .opas {
  font-size: 14px;
  font-weight: 500;
  color: #818181
}
.complect__slider-wrapper-item.active {
  display: block
}
.complect__slider-datchiki {
  margin-top: 32px
}
.complect__slider-datchiki-color,
.complect__slider-datchiki-color-choice {
  display: flex;
  align-items: center
}
.complect__slider-datchiki-color-choice .black {
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: #000;
  border-radius: 50%;
  margin-right: 8px;
  border: 1px solid #d1dbe3;
  transition: .3s
}
.complect__slider-datchiki-color-choice .black.active {
  box-shadow: 0 3px 15px rgba(0,0,0,.3);
  border: 1px solid #93b6ff;
  transition: .3s
}
.complect__slider-datchiki-color-choice .white {
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #d1dbe3;
  margin-right: 8px;
  transition: .3s
}
.complect__slider-datchiki-color-choice .white.active {
  box-shadow: 0 3px 15px rgba(0,0,0,.3);
  border: 1px solid #93b6ff;
  transition: .3s
}
.complect__slider-datchiki-color-text {
  font-size: 12px;
  font-weight: 500;
  color: #818181
}
.complect__slider-datchiki-color-text span {
  font-size: 14px;
  color: #000
}
.complect__slider-datchiki-title {
  color: #020202;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  margin-top: -25px;
  margin-bottom: 32px
}
.complect__slider-datchiki-wrapper {
  display: flex;
  overflow-x: hidden
}
.complect__slider-datchiki-wrapper-list {
  display: flex
}
.complect__slider-datchiki-wrapper-list-item {
  width: 362px;
  height: 433px;
  border: 1px solid #93b6ff;
  border-radius: 10px
}
.slick-slider-datchiki {
  position: relative
}
.slick-slider-datchiki .slide {
  padding-top: 100px;
  padding-bottom: 100px
}
.slick-slider-datchiki .slide .slide-box {
  width: 252px;
  height: 315px;
  border: 1px solid #93b6ff;
  border-radius: 10px;
  background-color: #fff;
  opacity: .3;
  z-index: 50;
  transition: .5s;
  position: relative
}
.slick-slider-datchiki .slide .slide-box .modal-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  display: none
}
.slick-slider-datchiki .slide .slide-box-title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 32px;
  text-align: center;
  margin-bottom: 24px
}
.slick-slider-datchiki .slide .slide-box-slider {
  margin-bottom: 29px;
  position: relative
}
.slick-slider-datchiki .slide .slide-box-slider-item .image img {
  width: 104px;
  height: 104px;
  margin: 0 auto
}
.slick-slider-datchiki .slide .slide-box-about li {
  font-size: 10px;
  width: 200px;
  font-weight: 500;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  margin-left: 21px
}
.slick-slider-datchiki .slide .slide-box-about li::before {
  content: url(../img/cartochka/slider-item-before.svg);
  width: 20px;
  height: 20px;
  margin-right: 8px
}
.slick-slide.prev-next-slide .slide .slide-box {
  transition: .5s;
  position: relative;
  transform: scale(1.25);
  opacity: .7;
  z-index: 80
}
.slick-slide {
  transition: .5s
}
.slick-slide.slick-center .slide .slide-box {
  transition: .5s;
  transform: scale(1.5);
  opacity: 1;
  z-index: 100;
  position: relative
}
.slick-slide.slick-center .slide .slide-box::after {
  content: url(../img/cartochka/active-slide.svg);
  width: 20px;
  height: 12px;
  position: absolute;
  left: 47%
}
.slick-slide.slick-center .slide .slide-box .modal-btn {
  display: block;
  width: 24px;
  height: 24px
}
.slick-slide.slick-center .slide .slide-box .modal-btn picture img {
  width: 18px;
  height: 18px
}
.arrow {
  width: 48px;
  height: 48px;
  background-color: #005dff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 47%
}
.arrow img {
  display: block;
  margin-left: 17px
}
.arrow-mini {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 47%
}
.arrow-mini img {
  display: block;
  width: 20px;
  height: 20px
}
.arrow-prev {
  position: absolute;
  z-index: 1000;
  left: -27px
}
.arrow-next {
  position: absolute;
  right: -27px
}
.arrow-next img {
  margin-left: 20px
}
.arrow-prev-mini {
  left: 24px;
  z-index: 100
}
.arrow-next-mini {
  right: 24px;
  z-index: 100
}
.slider__under {
  margin-top: 47px;
  position: relative
}
.slider__under::before {
  content: url(../img/cartochka/under.svg);
  position: absolute;
  width: 379px;
  height: 54px;
  top: -40px;
  left: 17.5%
}
.slider__under-block-1 {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 443px;
  background-color: #fff;
  border: 1px solid #93b5ff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px
}
.slider__under-block-1 .info {
  display: none
}
.slider__under-block-1 .info.show {
  display: block
}
.slider__under-block-1 p {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 16px
}
.slider__under-block-1 ul li {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
  position: relative;
  left: 35px;
  width: 286px
}
.slider__under-block-1 ul li::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #005dff;
  margin-right: 16px;
  position: absolute;
  left: -25px;
  top: 6px
}
.slider__under-block-1-first {
  padding-top: 24px;
  width: 322px;
  margin-right: 58px;
  margin-left: 32px
}
.slider__under-block-1-first .title {
  text-align: center;
  font-size: 16px;
  font-weight: 700
}
.slider__under-block-1-first .line {
  width: 100%;
  height: 1px;
  background-color: #93b6ff;
  margin-top: 16px;
  margin-bottom: 16px
}
.slider__under-block-1-second {
  padding-top: 24px;
  width: 322px;
  margin-right: 58px
}
.slider__under-block-1-second .title {
  text-align: center;
  font-size: 16px;
  font-weight: 700
}
.slider__under-block-1-second .line {
  width: 100%;
  height: 1px;
  background-color: #93b6ff;
  margin-top: 16px;
  margin-bottom: 16px
}
.slider__under-block-1-three {
  padding-top: 24px;
  width: 322px;
  margin-right: 32px
}
.slider__under-block-1-three .title {
  text-align: center;
  font-size: 16px;
  font-weight: 700
}
.slider__under-block-1-three .line {
  width: 100%;
  height: 1px;
  background-color: #93b6ff;
  margin-top: 16px;
  margin-bottom: 16px
}
.slider__under-block-1 .close-btn {
  cursor: pointer;
  position: absolute;
  width: 100%;
  justify-content: center;
  bottom: 5px;
  font-weight: 500;
  font-size: 12px;
  color: #818181;
  display: flex
}
.slider__under-block-1 .close-btn::before {
  content: "";
  width: 95%;
  height: 1px;
  background-color: #d1dbe3;
  position: absolute;
  top: -8px
}
.slider__under-block-1 .close-btn::after {
  content: url(../img/cartochka/arrow-rest.svg);
  width: 16px;
  height: 16px;
  margin-left: 3px
}
.slider__under-block-1.close {
  height: 92px;
  overflow: hidden
}
.slider__under-block-1.close .line,
.slider__under-block-1.close p,
.slider__under-block-1.close ul {
  display: none
}
.slider__under-block-1.close .close-btn::after {
  transform: rotate(180deg)
}
.slider__under-block-2 {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 324px;
  border: 1px solid #93b6ff;
  border-radius: 10px
}
.slider__under-block-2 .title {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 37px
}
.slider__under-block-2 ul {
  margin-left: 32px;
  margin-right: 32px
}
.slider__under-block-2 ul li {
  font-size: 16px;
  display: flex;
  align-items: center;
  padding-bottom: 13px;
  padding-top: 20px;
  border-bottom: 1px solid #d1dbe3
}
.slider__under-block-2 ul li span {
  font-weight: 700;
  display: block;
  width: 200px;
  margin-right: 141px
}
.slider__under-block-2 ul li:last-child {
  border-bottom: none
}
.slider__under-block-2 .close-btn-2 {
  cursor: pointer;
  position: absolute;
  width: 100%;
  justify-content: center;
  bottom: 5px;
  font-weight: 500;
  font-size: 12px;
  color: #818181;
  display: flex
}
.slider__under-block-2 .close-btn-2::before {
  content: "";
  width: 95%;
  height: 1px;
  background-color: #d1dbe3;
  position: absolute;
  top: -8px
}
.slider__under-block-2 .close-btn-2::after {
  content: url(../img/cartochka/arrow-rest.svg);
  width: 16px;
  height: 16px;
  margin-left: 3px
}
.slider__under-block-2.close {
  height: 92px;
  overflow: hidden
}
.slider__under-block-2.close ul {
  display: none
}
.slider__under-block-2.close .close-btn-2::after {
  transform: rotate(180deg)
}
.gotovoe__reshenie-main {
  border-top: 1px solid #d1dbe3;
  border-bottom: 1px solid #d1dbe3;
  height: 104px;
  box-shadow: 0 -46px 19px -36px rgba(138,161,200,.13)
}
.gotovoe__reshenie {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.gotovoe__reshenie-text {
  font-size: 24px;
  font-weight: 700
}
.gotovoe__reshenie-text span {
  font-size: 32px;
  color: #f5c000
}
.gotovoe__reshenie button {
  width: 197px;
  height: 40px;
  background-color: #fdda46;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer
}
.solutions__center_title span {
  font-size: 32px;
  font-weight: 700;
  color: #f5c000
}
.back__call {
  padding: 40px 0;
  border: 1px solid #d1dbe3;
  border-radius: 10px
}
.back__call h2 {
  margin-bottom: 15px;
  text-align: center
}
.back__call > p {
  font-family: Gilroy-Bold;
  text-align: center;
  width: 100%;
  max-width: 362px;
  margin: 0 auto 50px
}
.back__call-form {
  width: 100%;
  max-width: 555px;
  margin: 0 auto
}
.back__call-form form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between
}
.back__call-form form .form__control {
  width: 100%;
  max-width: 265px;
  background-color: #f4f4f4;
  color: #818181;
  border-radius: 5px;
  font-size: 14px;
  transition: .3s ease-in-out;
  padding: 15px 0 15px 24px
}
.back__call-form form .form__control::-moz-placeholder {
  font-family: inherit;
  font-size: inherit;
  color: inherit
}
.back__call-form form .form__control:-ms-input-placeholder {
  font-family: inherit;
  font-size: inherit;
  color: inherit
}
.back__call-form form .form__control::placeholder {
  font-family: inherit;
  font-size: inherit;
  color: inherit
}
.back__call-form form .form__control.submit {
  text-align: center;
  text-transform: uppercase;
  background-color: #005dff;
  color: #fff;
  cursor: pointer;
  padding-left: 0
}
.back__call-form form .form__control.submit:hover {
  background-color: #0050db
}
.back__call.complect {
  margin-top: 56px;
  margin-bottom: 56px
}
.slide-modal {
  display: none
}
.slide-modal.active {
  z-index: 100000;
  background: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center
}
.slide-modal.active .modal-box {
  width: 640px;
  height: 580px;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0,37,131,.1);
  border-radius: 20px;
  position: relative
}
.slide-modal.active .modal-box .title {
  font-size: 24px;
  font-weight: 700;
  padding-top: 40px;
  padding-left: 32px;
  padding-bottom: 41px
}
.slide-modal.active .modal-box .close {
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer
}
.slide-modal.active .modal-box .modal-slider {
  width: 350px;
  margin: 0 auto
}
.slide-modal.active .modal-box .modal-slider .arrow-prev-mini {
  left: -90px;
  cursor: pointer
}
.slide-modal.active .modal-box .modal-slider .arrow-next-mini {
  right: -90px;
  cursor: pointer
}
.slide-modal.active .modal-box .modal-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 28px;
  padding-right: 28px;
  margin-top: 25px
}
.slide-modal.active .modal-box .modal-bottom .item {
  width: 56px;
  height: 56px;
  border: 1px solid #d1dbe3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  opacity: .5
}
.slide-modal.active .modal-box .modal-bottom .item.active {
  border: 1px solid #93b6ff;
  opacity: 1
}
@media screen and (max-width:1234px) {
  .slick-slider-datchiki {
    width: 1000px;
    margin: 0 auto
  }
}
@media screen and (max-width:1182px) {
  .slick-slide.slick-center .slide .slide-box::after {
    display: none
  }
  .slider__under::before {
    display: none
  }
  .slider__under-block-1 {
    display: block;
    height: auto;
    padding-bottom: 20px;
    text-align: center
  }
  .slider__under-block-1 ul li {
    margin: 0 auto 7px
  }
  .slider__under-block-1-first,
  .slider__under-block-1-second,
  .slider__under-block-1-three {
    width: 90%;
    margin: 0 auto
  }
  .slider__under-block-1.close {
    height: auto;
    padding-bottom: 40px
  }
}
@media screen and (max-width:1152px) {
  .slider__under-block-2 {
    height: auto;
    padding-bottom: 40px
  }
  .slider__under-block-2 .title {
    margin-top: 14px
  }
  .slider__under-block-2 ul li {
    padding-bottom: 15px
  }
  .slider__under-block-2 ul li span {
    margin-right: 50px
  }
}
@media screen and (max-width:1086px) {
  .slick-slider-datchiki {
    width: 800px
  }
}
@media screen and (max-width:878px) {
  .slick-slider-datchiki {
    width: 500px
  }
}
@media screen and (max-width:850px) {
  .complect__slider-datchiki-title {
    margin-top: 20px
  }
  .gotovoe__reshenie-main {
    height: auto
  }
  .gotovoe__reshenie {
    display: block
  }
  .gotovoe__reshenie-text {
    font-size: 20px
  }
  .gotovoe__reshenie-text span {
    font-size: 28px
  }
  .gotovoe__reshenie button {
    margin-top: 20px
  }
}
@media screen and (max-width:804px) {
  .main .top-slider-bg {
    display: none
  }
  .complect__slider-wrapper-item-price {
    position: relative;
    right: 0;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 30px
  }
}
@media screen and (max-width:692px) {
  .slide-modal.active .modal-box {
    width: 80%
  }
  .slide-modal.active .modal-box .modal-slider .arrow-prev-mini {
    left: 0
  }
  .slide-modal.active .modal-box .modal-slider .arrow-next-mini {
    right: 0
  }
}
@media screen and (max-width:610px) {
  .slide-modal.active .modal-box {
    height: auto;
    padding-bottom: 20px
  }
  .slide-modal.active .modal-box .title {
    font-size: 20px;
    text-align: center;
    padding-left: 0;
    padding-top: 60px
  }
  .slide-modal.active .modal-box .modal-bottom {
    display: none
  }
}
@media screen and (max-width:580px) {
  .slick-slider-datchiki {
    width: 320px
  }
  .slick-slider-datchiki .slide .slide-box {
    width: 200px
  }
  .slick-slider-datchiki .slide .slide-box .modal-btn {
    top: 10px;
    left: 10px
  }
  .slick-slider-datchiki .slide .slide-box-about li {
    margin-left: 10px
  }
}
@media screen and (max-width:568px) {
  .complect__slider-wrapper-item-about-top {
    display: block
  }
  .complect__slider-wrapper-item-about-top li {
    margin-bottom: 20px
  }
  .complect__slider-wrapper-item-about-bottom {
    display: block
  }
  .complect__slider-wrapper-item-about-bottom li {
    margin-bottom: 20px
  }
}
@media screen and (max-width:440px) {
  .slide-modal.active .modal-box .modal-slider {
    width: 250px;
    margin: 0 auto
  }
  .slide-modal.active .modal-box .modal-slider picture img {
    width: 200px;
    margin: 0 auto
  }
  .slide-modal.active .modal-box .modal-slider .arrow-prev-mini {
    left: 30px
  }
  .slide-modal.active .modal-box .modal-slider .arrow-next-mini {
    right: 30px
  }
}
@media screen and (max-width:436px) {
  .slider__under-block-2 ul li {
    font-size: 13px
  }
  .slider__under-block-2 ul li span {
    margin-right: 30px
  }
}
@media screen and (max-width:406px) {
  .slider__under-block-1 ul li {
    font-size: 12px;
    left: 0
  }
  .slider__under-block-1 ul li::before {
    left: -5px
  }
}
@media screen and (max-width:394px) {
  .slick-slider-datchiki {
    width: 250px
  }
  .slick-slider-datchiki .slide .slide-box {
    width: 160px
  }
  .slick-slider-datchiki .slide .slide-box-about li {
    font-size: 8px;
    width: 140px
  }
  .slick-slider-datchiki .slide .slide-box-about li::before {
    margin-top: -2px
  }
}
@media screen and (max-width:354px) {
  .slider__under-block-2 ul li {
    font-size: 10px
  }
}