@charset "UTF-8";
.form {
  background: #fff;
  border: 1px solid #d1dbe3;
  border-radius: 10px;
  margin-bottom: 18px;
  padding: 24px 24px 15px
}
.form #select-organization {
  width: 102%;
  overflow: hidden;
  text-overflow: ellipsis
}
.form .org {
  margin: 10px 0 10px 40px!important
}
.form .blue-button {
  text-transform: none
}
.form__content {
  margin-top: 24px
}
.form input[type=checkbox] {
  display: none;
  margin-bottom: 16px
}
.form input[type=checkbox] + label {
  margin-left: 16px;
  position: relative
}
.form input[type=checkbox] + label:before {
  position: absolute;
  top: 2px;
  left: -16px;
  content: url(../img/installment/checkbox.png)
}
.form input[type=checkbox]:checked + label {
  color: #005dff
}
.form input[type=checkbox]:checked + label:before {
  content: url(../img/installment/checkbox-active.png)
}
.form input[type=checkbox]:checked + label + .no-checked {
  display: none
}
.form input[type=radio] {
  display: none
}
.form input[type=radio] + label {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #dde8ff
}
.form input[type=radio]:checked + label {
  border: 4px solid #005dff
}
.form input[type=radio]:checked + label + label {
  color: #005dff
}
.form input[type=text] {
  position: relative;
  max-width: 440px;
  margin: 0 8px 16px 0;
  border: 1px solid #d1dbe3;
  border-radius: 5px;
  padding: 16px 24px;
  font-size: 14px
}
.form input[type=text].date {
  background-image: url(../img/installment/calendar.svg);
  background-repeat: no-repeat;
  background-position-y: 16px;
  background-position-x: 179px
}
.form input[type=date] {
  max-width: 216px;
  height: 50px;
  margin: 0 8px 16px 0;
  border: 1px solid #d1dbe3;
  border-radius: 5px;
  padding: 13px 16px 13px 24px;
  font-size: 14px;
  background: url(../img/installment/calendar.svg) no-repeat;
  background-position-y: 16px;
  background-position-x: 179px
}
.form input[type=date]::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  background: 0 0;
  background-size: 16px 16px
}
.form .select-wrapper {
  width: 440px;
  border: 1px solid #d1dbe3;
  border-radius: 5px;
  padding: 16px 40px 16px 24px;
  margin-bottom: 16px;
  margin-right: 8px;
  overflow-x: hidden
}
.form .select-wrapper > select {
  width: 440px;
  border: none;
  background-image: url(../img/installment/triangle.svg);
  background-repeat: no-repeat;
  background-position-x: 354px;
  background-position-y: 6px;
  font-size: 14px
}
.form .select-wrapper > select:invalid {
  color: #818181
}
.form .select-wrapper > select:invalid > option {
  color: #000
}
.form .select-wrapper > select option {
  max-width: 264px;
  box-shadow: 0 5px 30px rgba(0,0,0,.1);
  border: none;
  border-radius: 5px
}
.form__section {
  border-top: 1px solid #d1dbe3;
  padding: 16px 8px
}
.form__section:last-child {
  border-bottom: 1px solid #d1dbe3
}
.form__section .h4,
.form__section h4 {
  margin: 16px 0
}
.form__section .blue-border-button {
  text-transform: none
}
.form__section__content {
  font-size: 14px;
  color: #818181
}
.form__section__content.sex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 16px
}
.form__section__content.sex input[type=radio] + label:nth-child(3n) {
  margin: 0 5px 0 10px
}
.form__section__content .address-registration input:first-child,
.form__section__content.address-registration input:first-child {
  margin-top: 16px
}
.form__section__content .address-registration input:nth-child(4),
.form__section__content .address-registration input:nth-child(5),
.form__section__content .address-registration input:nth-child(6),
.form__section__content.address-registration input:nth-child(4),
.form__section__content.address-registration input:nth-child(5),
.form__section__content.address-registration input:nth-child(6) {
  max-width: 120px
}
.form__section__content .address-registration input:nth-child(8),
.form__section__content .address-registration input:nth-child(9),
.form__section__content.address-registration input:nth-child(8),
.form__section__content.address-registration input:nth-child(9) {
  max-width: 216px
}
.form__section__content.address-installment .address-installment-other {
  display: none
}
.form__section__content.address-installment #other:checked ~ .address-installment-other {
  display: block
}
.form__section__content.name input:nth-child(1),
.form__section__content.name input:nth-child(2),
.form__section__content.name input:nth-child(3),
.form__section__content.name input:nth-child(4),
.form__section__content.name input:nth-child(5),
.form__section__content.name input:nth-child(9) {
  max-width: 216px
}
.form__section__content.name button {
  max-width: 144px
}
.form__section__content.passport input:nth-child(1),
.form__section__content.passport input:nth-child(2),
.form__section__content.passport input:nth-child(5) {
  max-width: 216px
}
.form__section__content.organization > .select-wrapper {
  padding-left: 0;
  position: relative
}
.form__section__content.organization > .select-wrapper::before {
  content: url(../img/installment/search.png);
  position: absolute;
  left: 18px
}
.form__section__content.organization > .select-wrapper > select {
  margin-left: 56px
}
.form__section__content.organization .selected-organization {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 600px
}
.form__section__content.organization .selected-organization > p {
  box-sizing: border-box;
  display: inline-block;
  width: 440px;
  padding: 9px 16px 5px 18px;
  color: #000;
  border-left: 4px solid #93b6ff;
  border-radius: 5px;
  background: #dde8ff
}
.form__section__content.organization .selected-organization .form-organization {
  display: none;
  margin: 16px 0
}
.form__section__content.organization .selected-organization .form-organization > input {
  display: inline-block;
  background-color: rgba(230,230,230,.301)
}
.form__section__content.organization .selected-organization .form-organization > input:nth-child(1),
.form__section__content.organization .selected-organization .form-organization > input:nth-child(2) {
  width: 216px
}
.form__section__content.organization .selected-organization .form-organization > .select-wrapper {
  display: inline-block;
  width: 216px;
  background-color: rgba(230,230,230,.301)
}
.form__section__content.organization .selected-organization .form-organization > .select-wrapper > select {
  width: 216px;
  background-position-x: 162px;
  background-color: rgba(230,230,230,0)
}
.form__section__content.organization .selected-organization > input[type=checkbox] {
  display: none
}
.form__section__content.organization .selected-organization > input[type=checkbox] + label {
  background: 0 0
}
.form__section__content.organization .selected-organization > input[type=checkbox]:checked ~ .form-organization {
  display: block
}
.form__section__content.organization .selected-organization > input[type=checkbox]:checked + label {
  color: #818181
}
.form__section__content.organization .selected-organization > input[type=checkbox]:checked + label::before {
  content: url(../img/installment/pencil.png)
}
.form__section__content.organization .selected-organization > label {
  position: relative
}
.form__section__content.organization .selected-organization > label:before {
  content: url(../img/installment/pencil.png);
  position: absolute;
  left: -30px;
  top: -3px
}
.form__section__content.post > input:nth-child(2) {
  width: 216px
}
.form__section__content.post > .select-wrapper {
  display: inline-block;
  width: 216px
}
.form__section__content.post > .select-wrapper > select {
  width: 216px;
  background-position-x: 162px
}
.form__section__content.profit {
  display: flex;
  flex-wrap: wrap;
  justify-content: start
}
.form__section__content.profit input {
  max-width: 216px;
  margin-right: 8px
}
.form__section__content.education > .select-wrapper {
  padding-left: 0;
  position: relative
}
.form__section__content.education > .select-wrapper::before {
  content: url(../img/installment/search.png);
  position: absolute;
  left: 18px
}
.form__section__content.education > .select-wrapper > select {
  margin-left: 56px
}
.form__section__content.family > .select-wrapper {
  display: inline-block;
  width: 216px
}
.form__section__content.family > .select-wrapper > select {
  width: 216px;
  background-position-x: 162px
}
.form__section__content.contact-person input {
  max-width: 280px
}
.form__section__content > p {
  max-width: 470px;
  margin: 16px 0
}
.form__section__content > p > span {
  color: #005dff
}
.form__bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr
}
.form__bottom > .blue-button {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin-top: 16px;
  width: 166px
}
.form__bottom > .blue-button > span {
  margin-left: -8px;
  position: relative
}
.form__bottom > .blue-button > span::after {
  content: url(../img/installment/arrow-down.png);
  position: absolute;
  top: 2px;
  right: -20px
}
.form__bottom > p {
  margin-top: 16px;
  text-align: right;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3
}
.form__bottom > p > span {
  color: #005dff
}
.form:last-child .form__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end
}
.forms .form {
  position: relative
}
.forms .def-close .form__bottom,
.forms .def-close .form__content {
  display: none
}
.forms .def-close .close-btn::after {
  transform: rotate(180deg)
}
.forms .close {
  border: none;
  border-top: 1px solid #d1dbe3;
  border-radius: 0
}
.forms .close h4 {
  opacity: .5
}
.forms .close .form__bottom,
.forms .close .form__content {
  display: none
}
.forms .close .close-btn::after {
  transform: rotate(180deg)
}
.forms .close-btn {
  cursor: pointer;
  position: absolute;
  left: unset!important;
  right: 10px;
  top: 27px;
  font-weight: 500;
  font-size: 12px;
  color: #818181;
  display: flex;
  padding-left: 13px;
  border-left: 1px solid #d1dbe3
}
.forms .close-btn::after {
  content: url(/img/cartochka/arrow-rest.svg);
  width: 16px;
  height: 16px;
  margin-left: 3px
}
.forms .close-btn_hide {
  display: none
}
@media screen and (max-width:767px) {
  .form .h4,
  .form > h4 {
    max-width: 50vw
  }
  .form .select-wrapper,
  .form__section__content.organization .selected-organization>p {
    max-width: 75vw
  }
  .form__bottom {
    display: block
  }
  .form__bottom .blue-button {
    width: 100%
  }
  .form__bottom > p {
    text-align: left
  }
  .form__bottom > p > br {
    display: none
  }
}