@charset "UTF-8";
.header {
  background-color: #fff;
  z-index: 11;
  position: relative
}
.header__wall {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.6);
  z-index: 10;
  display: none
}
.header__top {
  background-color: #fff;
  position: relative;
  z-index: 11;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px
}
.header__top-left__block {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center
}
.header__top-info li a {
  display: flex;
  align-items: center
}
.header__top-info li a:hover svg path {
  fill: #005dff
}
.header__top-info li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px
}
.header__top-info li .text {
  margin-left: 11px
}
.header__top-info li.tel {
  font-family: Gilroy-Bold
}
.header__top-logo {
  margin: 0 28px 0 66px
}
.header__top-menu {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 28px 20px;
  position: absolute
}
.header__top-menu--burger {
  width: 24px;
  height: 17px;
  position: relative;
  cursor: pointer
}
.header__top-menu--burger span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 3px;
  background-color: #000;
  display: block;
  transition: .3s ease-in-out
}
.header__top-menu--burger::before,
.header__top-menu--burger:after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: .3s ease-in-out
}
.header__top-menu--burger:after {
  top: 0
}
.header__top-menu--burger:before {
  bottom: 0
}
.header__top-menu--burger:hover span,
.header__top-menu--burger:hover::after,
.header__top-menu--burger:hover::before {
  background-color: #005dff
}
.header__top-menu--submenu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 5;
  left: 0;
  top: 20px;
  background-color: #fff;
  box-shadow: 0 5px 30px rgba(0,0,0,.1);
  transition: .3s ease-in-out;
  border-radius: 5px;
  padding: 10px 24px
}
.header__top-menu--submenu li {
  margin-bottom: 10px
}
.header__top-menu--submenu li:last-child {
  margin-bottom: 0
}
.header__top-menu--submenu a {
  white-space: nowrap;
  font-size: 14px
}
.header__top-menu--submenu.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(10px)
}
.header__top-menu--open {
  display: none
}
.header__top-search {
  width: 100%;
  max-width: 195px
}
.header__top-search form {
  position: relative;
  width: 100%
}
.header__top-search form input {
  background-color: #f7f7f7;
  border-radius: 30px;
  width: 100%;
  font-size: 14px;
  padding: 16px 12px
}
.header__top-search form button {
  position: absolute;
  right: 12px;
  top: 15px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  cursor: pointer
}
.header__top-cabinet {
  display: flex;
  align-items: center;
  font-size: 14px
}
.header__top-cabinet .call {
  flex-wrap: wrap;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  margin-right: 20px;
  position: relative;
  display: none
}
.header__top-cabinet .call::after {
  content: "";
  height: 36px;
  width: 1px;
  background-color: #d1dbe3;
  display: block;
  margin-left: 16px
}
.header__top-cabinet .present {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  margin-right: 20px;
  position: relative
}
.header__top-cabinet .present::after {
  content: "";
  height: 36px;
  width: 1px;
  background-color: #d1dbe3;
  display: block;
  margin-left: 20px
}
.header__top-cabinet .present .icon {
  margin-right: 7px
}
.header__top-cabinet .present .text {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  color: #005dff;
  font-size: 10px;
  width: 100%;
  max-width: 55px
}
.header__top-cabinet .present .number {
  color: #005dff;
  font-family: Gilroy-Bold;
  font-size: 14px;
  line-height: 10px
}
.header__top-cabinet .link a {
  font-family: Gilroy-Bold
}
.header__top--open {
  -ms-grid-columns: 1fr 2fr 1fr;
  grid-template-columns: 1fr 2fr 1fr
}
.header__top--open .header__top-info {
  display: none
}
.header__top--open .header__top-search {
  max-width: 480px
}
.header__top--open .header__top-menu {
  display: none
}
.header__top--open .header__top-menu--open {
  background-color: rgba(221,232,255,.5);
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 28px 20px;
  position: absolute
}
.header__bottom {
  background-color: rgba(230,230,230,.301);
  padding: 24px 0
}
.header__bottom form {
  border: 2px solid #005dff;
  border-radius: 3px;
  min-height: 48px;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px
}
.header__bottom .text {
  display: inline-block;
  margin: 0 16px
}
.header__bottom-form-select {
  position: relative
}
.header__bottom-form-select .choices__inner,
.header__bottom-form-select select {
  width: 100%;
  max-width: 267px;
  min-height: 40px;
  background-color: #fff;
  padding: 0 34px 0 38px;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../img/loyality/Triangle.png),url(../img/header/home.png);
  background-repeat: no-repeat,no-repeat;
  background-position: right 10px top 50%,left 13px top 50%;
  background-size: auto,auto;
  line-height: 40px
}
.header__bottom-form-select.location select {
  background-image: url(../img/loyality/Triangle.png),url(../img/header/location.png)
}
.header__bottom-form-btn {
  margin-left: auto;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 285px;
  height: 100%
}
.header__bottom-form-btn::after {
  content: url(../img/header/arrow__btn.png);
  position: absolute;
  top: 15px;
  right: 55px
}
.header__bottom-form-btn input {
  background-color: #005dff;
  color: #fff;
  font-family: Gilroy-Bold;
  padding: 14px 0;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease-in-out
}
.header__bottom-form-btn input:hover {
  background-color: #0050db
}
.header__submenu {
  overflow: hidden;
  position: absolute;
  z-index: 100;
  background-color: #fff;
  width: 100%;
  max-height: 0;
  transition: .3s
}
.header__submenu--open {
  max-height: 400px
}
.header__submenu .container {
  margin: 0 auto
}
.header__submenu-up {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 51px 48px;
  padding: 48px 0
}
.header__submenu-up a {
  color: #818181;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0
}
.header__submenu-up a:hover {
  text-decoration: underline;
  color: #000
}
.header__submenu-up a.active {
  color: #005dff
}
.header__submenu-up .h3 {
  color: #818181;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0;
  margin-bottom: 16px
}
.header__submenu-up ul {
  display: flex;
  flex-direction: column;
  gap: 16px
}
.header__submenu-item--up {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2
}
.header__submenu-item--down {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3
}
.header__submenu-down {
  border-top: 1px solid #d1dbe3;
  color: #818181;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 51px 48px;
  padding: 32px 0;
  align-items: center
}
.header__submenu-down > * {
  font-size: 12px;
  line-height: 14px
}
.header__submenu-down .header__submenu-question-yes,
.header__submenu-down a {
  color: #005dff;
  text-decoration: underline;
  cursor: pointer
}
.header__submenu-location {
  display: flex;
  gap: 9px;
  align-items: center
}
.header__submenu-question {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  display: flex;
  gap: 8px
}
.header__submenu-question-content {
  font-weight: 600
}
.header__submenu-close {
  cursor: pointer;
  -ms-grid-row-align: end;
  -ms-grid-column-align: end;
  place-self: end;
  display: flex;
  align-items: center;
  gap: 9px
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  transition: .3s ease-in-out;
  background-color: rgba(0,0,0,.6);
  visibility: hidden;
  opacity: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-20px)
}
.modal.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0)
}
.modal__content {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  border-radius: 15px;
  padding: 32px;
  background-color: #fff;
  z-index: 10
}
.modal__content .h4 {
  font-size: 22px;
  margin-bottom: 32px
}
.modal__content ul li {
  margin-bottom: 10px
}
.modal__content ul li.active {
  font-family: Gilroy-Bold
}
.modal__content ul li:last-child {
  margin-bottom: 0
}
.modal__content ul li a {
  font-size: 14px
}
.close-button {
  position: absolute;
  right: 37px;
  top: 37px;
  cursor: pointer;
  width: 20px;
  height: 20px
}
.close-button::after,
.close-button::before {
  display: block;
  position: absolute;
  right: 0;
  top: 8px;
  content: "";
  width: 100%;
  height: 1.5px;
  background-color: #818181;
  opacity: .8
}
.close-button::before {
  transform: rotate(45deg)
}
.close-button::after {
  transform: rotate(-45deg)
}
@media (max-width:1190px) {
  .header__top {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr
  }
  .header__top-info {
    display: none
  }
}
@media (max-width:1024px) {
  .header__bottom-form-btn {
    max-width: 26%
  }
}
@media (max-width:768px) {
  .header__bottom-form {
    position: relative
  }
  .header__bottom-form-select {
    margin-right: 8px
  }
  .header__bottom .text {
    position: absolute;
    top: -14px;
    margin: 0;
    font-size: 10px;
    line-height: 12px;
    color: #005dff
  }
  .header__bottom .text:nth-child(3) {
    left: 277px;
    text-transform: capitalize
  }
}
@media (max-width:767px) {
  .header .container {
    padding-left: 16px;
    padding-right: 16px
  }
  .header__top {
    -ms-grid-columns: 64px auto;
    grid-template-columns: 64px auto;
    padding-bottom: 16px;
    border-bottom: 1px solid #d1dbe3
  }
  .header__top-menu {
    position: relative;
    justify-content: start;
    padding-left: 8px
  }
  .header__top-cabinet .call {
    display: flex
  }
  .header__top--open .header__top-menu--open {
    position: relative;
    background-color: #fff;
    width: 100%;
    justify-content: start;
    padding-left: 8px
  }
  .header__submenu--open {
    max-height: 1000px
  }
  .header__submenu-up {
    margin-bottom: 40px;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    gap: 40px
  }
  .header__submenu-up > * {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    grid-row: auto
  }
  .header__submenu-down {
    display: flex;
    flex-direction: column;
    gap: 10px
  }
  .header__submenu-close {
    margin-top: 25px;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    place-self: center
  }
}
@media screen and (max-width:767px) {
  .header__top-left__block {
    justify-content: space-between;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2
  }
  .header__top-info {
    margin: 15px 0
  }
  .header__top-logo {
    display: none
  }
  .header__top-search {
    justify-content: space-between;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    max-width: 100%
  }
  .header__top-cabinet {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    max-width: 100%
  }
  .header__top-cabinet .present::after {
    margin-left: 16px
  }
  .header__bottom {
    display: none
  }
}