@charset "UTF-8";
.polzunok-container-2 * {
  box-sizing: border-box;
  outline: 0
}
.polzunok-container-2 {
  padding: 15px 10px
}
.polzunok-container-2 .ui-slider {
  position: relative;
  background: #dde8ff;
  height: 5px;
  border-radius: 3px
}
.polzunok-container-2 .ui-slider .ui-slider-handle {
  margin-left: -9px;
  position: absolute;
  width: 18px;
  height: 18px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #93b6ff;
  top: -7px;
  background: #fff;
  z-index: 2;
  color: #fff;
  box-shadow: 0 0 0 3px #fff
}
.polzunok-container-2 .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  height: 5px;
  display: block;
  border: 0;
  background: #005dff;
  border-radius: 3px
}
.polzunok-container-2 .ui-slider-horizontal .ui-slider-range-min {
  left: 0
}
.polzunok-container-2 .ui-slider-horizontal .ui-slider-range-max {
  right: 0
}
.polzunok__number {
  margin-top: 22 px;
  display: block;
  color: #93b6ff;
  width: 5ch;
  padding: 0 1ch;
  display: -ms-grid;
  display: grid;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  place-items: center;
  margin-left: -1.5ch;
  background: #fff;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr
}
.polzunok__number-2 {
  grid-gap: .5ch;
  margin-left: -3ch
}
.polzunok__number-1:after {
  content: '%'
}
.installment__calculator-sub-value-2 {
  width: 6ch
}
.installment__calculator-sub-value-2:after {
  content: ' мес'
}
.installment {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px
}
.installment__right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
.installment .to-short-rd {
  padding: 9px 16px 5px 18px;
  color: #000;
  border-left: 4px solid #93b6ff;
  border-radius: 5px;
  background: #dde8ff;
  margin: 10px 0;
  display: none;
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content
}
.installment .price__result {
  display: none
}
.installment .price__result .h4,
.installment .price__result h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px
}
.installment .price__result-num {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px
}
.installment .h-full {
  height: 100%
}
.installment .price__bonuses {
  width: 225px;
  padding-right: 0;
  margin-right: 0
}
.installment .price__bonuses-close {
  right: 0
}
.installment .price__bonuses h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #818181
}
.installment .price__bonuses-cost {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  border: 1px solid #d1dbe3;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
  width: 17ch
}
.installment .section-result__right {
  height: 100%;
  min-height: 145px
}
.installment .installment__page-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  padding-bottom: 32px
}
.installment .installment__bonuses-title {
  color: #005dff;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  display: block;
  padding-bottom: 12px
}
.installment__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #005dff
}
.installment__title > span {
  display: block
}
.installment .vis {
  display: -ms-grid!important;
  display: grid!important
}
.installment .border-vis {
  border: 1px solid #d1dbe3;
  padding: 16px 14px 16px 0
}
.installment__calculator {
  border: 1px solid rgba(0,0,0,0);
  border-radius: 4px;
  padding: 16px 14px 0 0;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  position: relative
}
.installment__calculator .section-result__price-bonuses-container {
  display: none;
  background: #fff;
  z-index: 10;
  position: relative;
  left: 18px;
  width: 65%;
  border-right: 1px solid #d1dbe3
}
.installment__calculator .price__bonuses {
  border-right: none
}
.installment__calculator-right {
  height: initial
}
.installment__calculator-left {
  width: 100%;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 14px 56px;
  width: unset;
  display: none
}
.installment__calculator-left > div {
  position: relative;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content
}
.installment__calculator-sub-head {
  display: flex;
  gap: 1ch;
  justify-content: space-between
}
.installment__calculator-footer {
  position: absolute;
  right: 0;
  bottom: -14px;
  color: #818181;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px
}
.installment__calculator-info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row-align: end;
  align-self: end;
  position: relative!important;
  bottom: -8px
}
.installment__calculator-info .h4,
.installment__calculator-info h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px
}
.installment__calculator-info-month {
  color: #ff5252;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding: 4px 0
}
.installment__calculator-info-footer {
  margin-top: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #818181;
  display: flex;
  align-items: center;
  gap: .5ch
}
.installment__calculator-info-footer .blue {
  color: #005dff
}
.installment__calculator-first-pay {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2
}
.installment__calculator-time {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2
}
.installment__calculator-sub-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #818181
}
.installment__calculator-sub-value {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #005dff
}
.installment .forms {
  width: 100%;
  margin-top: 34px
}
.installment__rules {
  position: relative;
  padding: 0 32px;
  -ms-grid-row-align: end;
  align-self: end
}
.installment__rules-wall {
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,.5);
  position: absolute;
  left: 0
}
.installment__rules--active .installment__rules-wall {
  display: none
}
.installment__rules p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: justify;
  color: #818181
}
.installment__rules-agree {
  color: #005dff;
  font-size: 14px;
  line-height: 17px;
  padding: 4px 0;
  display: block;
  text-decoration: underline
}
.installment__rules input {
  display: none
}
.installment__rules label {
  display: flex;
  gap: 8px;
  margin: 27px 0 32px
}
.installment__rules label:before {
  height: 100%;
  display: block;
  content: url(../img/addSensors/check-e.svg)
}
.installment__rules input:checked + label:before {
  content: url(../img/addSensors/check-f.svg)
}
.installment .yellow-button {
  background: #fee74c;
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  padding: 16px 0;
  border-radius: 5px;
  font-family: Gilroy-Bold;
  transition: .3s ease-in-out
}
.installment .yellow-button:hover {
  color: #000;
  background: #f1d97f
}
.short-rd {
  padding-bottom: 15px
}
.short-rd__item {
  max-width: 362px;
  border: 1px solid #d1dbe3;
  box-shadow: 0 10px 30px rgba(0,37,131,.1);
  border-radius: 10px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px
}
.short-rd__head {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
  grid-template-columns: 1fr 3fr;
  grid-gap: 16px
}
.short-rd__head-pic {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2
}
.short-rd__title {
  display: flex;
  flex-direction: column;
  justify-content: center
}
.short-rd__title-up {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #f5c000
}
.short-rd__title-down {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #000
}
.short-rd__body-start {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 5px;
  color: #818181
}
.short-rd__body-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 12fr;
  grid-template-columns: 1fr 12fr;
  padding-top: 8px
}
.short-rd__body-item svg {
  -ms-grid-row-align: start;
  -ms-grid-column-align: start;
  place-self: start
}
.short-rd__body-li-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 7px
}
.short-rd__body-li-product {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 4px;
  color: #005dff
}
.short-rd__body-li-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #818181
}
.short-rd__gift-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #35a34a;
  margin-bottom: 8px
}
.short-rd__gift-item {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  padding-right: 8px;
  display: inline-block
}
.short-rd__gift-item:before {
  content: url(../img/installment/li.svg);
  padding-right: 6px
}
.short-rd__footer .short-rd-another {
  text-decoration: none;
  display: block;
  border: 1px solid #d1dbe3;
  border-radius: 5px;
  width: 100%;
  padding: 11.5px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -.01em;
  opacity: .54;
  text-align: center;
  display: flex;
  gap: 12px;
  justify-content: center
}
.short-rd__footer .short-rd-another:hover {
  box-shadow: 0 10px 30px rgba(0,37,131,.1)
}
.forms .form:last-child {
  margin-bottom: 0
}
@media (max-width:1024px) {
  .installment,
  .installment .to-short-rd {
    display: block
  }
}
@media (max-width:767px) {
  .installment__calculator .section-result__price-bonuses-container {
    width: 99%;
    border-right: none;
    padding-bottom: 15px
  }
}
@media (max-width:479px) {
  .installment__calculator-left {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
  .installment__calculator-left > div {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    grid-row: unset
  }
}