@charset "UTF-8";
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0,0,0,.5);
  overflow-y: auto;
  overflow-x: hidden
}
.modal.active {
  visibility: visible;
  opacity: 1
}
.modal__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  background-color: transparent
}
.modal__wrapper {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  z-index: 1
}
.modal__content {
  background-color: #fff;
  padding: 40px 32px 36px;
  border-radius: 20px;
  width: 100%;
  max-width: 495px;
  height: auto;
  margin: 20px 0
}
.modal__content_close-js {
  position: absolute;
  right: 31px;
  top: 31px;
  cursor: pointer
}
.modal__content-head {
  color: #000;
  font-family: Gilroy-Bold
}
.modal__content-head p {
  font-size: 24px;
  margin-bottom: 30px
}
.modal__content-head span {
  display: inline-block;
  margin-bottom: 20px
}
.modal__content-body {
  font-size: 14px
}
.modal__content-body label {
  margin-bottom: 16px;
  padding-left: 35px;
  display: inline-block;
  width: 100%;
  transition: .3s ease-in-out;
  cursor: pointer
}
.modal__content-body label:last-child {
  margin-top: 30px
}
.modal__content-body label > input:checked + .text::after {
  background-color: #005dff;
  background-image: url(../img/reviews/pseudo__checked.png);
  background-position: center;
  background-repeat: no-repeat;
  border: none
}
.modal__content-body label > input:checked + .text::before {
  z-index: 0
}
.modal__content-body label .text {
  position: relative;
  display: inline-block
}
.modal__content-body label .text:after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #dde8ff;
  background-color: #fff;
  position: absolute;
  left: -35px;
  top: -3px
}
.modal__content-body label .text::before {
  content: ""
}
.modal__content-body textarea {
  resize: none;
  padding: 16px;
  width: 100%;
  height: 80px;
  border: 1px solid #d1dbe3;
  margin-bottom: 32px;
  border-radius: 3px
}
.modal__content-body input {
  display: block
}
.modal__content-body input[type=submit] {
  max-width: 292px;
  text-align: center;
  background-color: #005dff;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 0;
  border: none;
  outline: 0;
  border-radius: 5px;
  transition: .3s ease-in-out;
  margin: 0 auto;
  cursor: pointer
}
.modal__content-body input[type=submit]:hover {
  background-color: #0050db
}
.modal__content-body .registration__btn {
  display: block;
  max-width: 292px;
  text-align: center;
  background-color: #005dff;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 0;
  border: none;
  outline: 0;
  border-radius: 5px;
  transition: .3s ease-in-out;
  margin: 0 auto;
  cursor: pointer
}
.modal__content-body .registration__btn:hover {
  background-color: #0050db
}
.modal__content-body .registration__btn:disabled {
  opacity: .5;
  cursor: not-allowed
}
.modal__content .choise__company {
  position: relative;
  margin-bottom: 24px
}
.modal__content .choise__company .icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1
}
.modal__content .choise__company select {
  width: 100%;
  background: #f4f4f4;
  border-radius: 5px;
  font-size: 14px;
  padding: 16px 16px 16px 56px;
  border: none;
  color: #005dff;
  cursor: pointer;
  font-family: Gilroy-Bold
}
.modal__content .choise__city {
  margin-bottom: 30px
}
.modal__content .choise__city span {
  display: inline-block;
  margin-bottom: 16px;
  font-family: Gilroy-Bold;
  font-size: 16px
}
.modal__content .choise__city-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center
}
.modal__content .choise__city-inputs label {
  width: 33.333%
}
.modal__content .choise__city-inputs label > input:checked + .text {
  font-family: Gilroy-Bold;
  opacity: 1
}
.modal__content .choise__city-inputs label > input:checked + .text::after {
  background-image: none;
  background-color: transparent;
  border: 4px solid #005dff
}
.modal__content .choise__city-inputs label input[type=radio] {
  position: absolute;
  z-index: -1;
  opacity: 0
}
.modal__content .choise__city-inputs label .text {
  margin-bottom: 0;
  font-family: Gilroy-Medium;
  opacity: .5
}
.modal__content .choise__city-inputs label .text:after {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #005dff;
  top: 2px;
  left: -35px
}
.modal__content .choise__city-inputs label:last-child {
  margin-top: 0
}
.modal__content .choise__name,
.modal__content .choise__tel {
  margin-bottom: 40px
}
.modal__content .choise__name-head,
.modal__content .choise__tel-head {
  margin-bottom: 15px;
  position: relative
}
.modal__content .choise__name-head .icon,
.modal__content .choise__tel-head .icon {
  margin-right: 7px;
  cursor: pointer;
  display: inline-block
}
.modal__content .choise__name-head .icon:hover + .icon__pseudo,
.modal__content .choise__tel-head .icon:hover + .icon__pseudo {
  visibility: visible;
  opacity: 1
}
.modal__content .choise__name-head .icon__pseudo,
.modal__content .choise__tel-head .icon__pseudo {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #fff;
  width: 100%;
  max-width: 192px;
  padding: 10px 16px;
  font-size: 14px;
  display: inline-block;
  box-shadow: 0 5px 20px rgba(0,0,0,.1);
  border-radius: 10px;
  left: -20px;
  top: 25px;
  z-index: 1;
  transition: .3s ease-in-out
}
.modal__content .choise__name-head .icon__pseudo span,
.modal__content .choise__tel-head .icon__pseudo span {
  color: #005dff;
  font-family: Gilroy-Bold
}
.modal__content .choise__name-head .icon__pseudo::after,
.modal__content .choise__tel-head .icon__pseudo::after {
  content: "";
  border: 4px solid transparent;
  border-bottom: 6px solid #93b6ff;
  position: absolute;
  top: -10px;
  left: 23px
}
.modal__content .choise__name-head .text,
.modal__content .choise__tel-head .text {
  font-family: Gilroy-Bold;
  font-size: 16px
}
.modal__content .choise__name-container,
.modal__content .choise__tel-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px
}
.modal__content .choise__name-container input,
.modal__content .choise__tel-container input {
  max-width: 208px;
  border: 1px solid #d1dbe3;
  border-radius: 5px;
  padding: 16px 24px;
  font-size: 14px
}
.modal__content .choise__name-bottom,
.modal__content .choise__tel-bottom {
  font-size: 14px;
  color: #818181
}
.modal__content .choise__name .icon__pseudo span {
  color: inherit;
  display: inline-block;
  margin-top: 10px;
  font-family: inherit
}
.modal__content .choise__name-container {
  justify-content: space-between
}
.modal__content .choise__tel-container input[type=submit] {
  color: #000;
  background-color: transparent;
  border-color: #005dff;
  font-family: Gilroy-Bold;
  font-size: 14px;
  text-transform: inherit;
  max-width: 144px;
  margin-left: 0
}
.modal.add__new__review .modal__content-head p {
  margin-bottom: 16px
}
.modal.add__new__review .modal__content-body textarea {
  height: 160px;
  margin-bottom: 150px;
  border-radius: 3px
}
.modal .choices[data-type*=select-one].is-open:after {
  border-color: transparent transparent #005dff
}
.modal .choices[data-type*=select-one]:after {
  border-color: #005dff transparent transparent
}
.modal .choices__inner,
.modal .is-focused .choices__inner,
.modal .is-open .choices__inner {
  padding-top: 10px;
  border: 1px solid transparent;
  width: 100%;
  background: #f4f4f4;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 56px;
  border: none;
  color: #005dff;
  cursor: pointer;
  font-family: Gilroy-Bold
}
.modal .choices__list--dropdown {
  color: #005dff
}
.modal .choices__list--dropdown .choices__item--selectable {
  padding-right: 0
}
@media screen and (max-width:767px) {
  .modal__content {
    padding: 20px 15px
  }
  .modal__content_close-js {
    right: 10px;
    top: 10px
  }
  .modal__content-head p {
    font-size: 20px;
    margin-bottom: 20px
  }
}
@media screen and (max-width:320px) {
  .modal__wrapper {
    margin-top: 120px
  }
}