@charset "UTF-8";
.solutions__top {
  display: flex;
  justify-content: space-between
}
.solutions__top_left {
  padding-top: 22px;
  max-width: 570px;
  padding-bottom: 66px
}
.solutions__top_left-title h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #000
}
.solutions__top_left-title h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #f5c000
}
.solutions__top_left-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 56px;
  padding-right: 34px
}
.solutions__top_left-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 255px;
  margin-bottom: 16px
}
.solutions__top_left-item_icon {
  width: 30px;
  height: 30px
}
.solutions__top_left-item_text {
  width: 217px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000
}
.solutions__top_right {
  width: 570px;
  opacity: .1;
  height: 335px
}
.solutions__center {
  padding: 47px 0 56px;
  box-shadow: 0 -46px 19px -36px rgba(138,161,200,.13);
  border-top: 1px solid #d1dbe3
}
.solutions__center_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000
}
.solutions__center_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 32px
}
.solutions__bottom {
  border-top: 1px solid #d1dbe3;
  border-bottom: 1px solid #d1dbe3;
  box-shadow: 0 46px 19px -36px rgba(138,161,200,.13);
  padding: 32px 0 40px
}
.solutions__bottom_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000
}
.solutions__bottom_wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}
.solutions__bottom_left {
  max-width: 692px;
  width: 100%
}
.solutions__bottom_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 17px
}
.solutions__bottom_row:last-child {
  margin-bottom: 0
}
.solutions__bottom_row-left {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #020202;
  width: 184px
}
.solutions__bottom_row-center {
  display: flex;
  flex-direction: column;
  width: 264px;
  overflow: hidden
}
.solutions__bottom_row-center span {
  display: flex
}
.solutions__bottom_row-center span:first-child {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #818181
}
.solutions__bottom_row-center span:last-child {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #020202
}
.solutions__bottom_row-center span .font-weight {
  padding-right: 3px;
  font-size: 14px;
  line-height: 17px
}
.solutions__bottom_row-center span .p {
  font-size: 14px;
  line-height: 17px
}
.solutions__bottom_row-right {
  width: 210px
}
.solutions__bottom_row-right span {
  background: #fff;
  border: 1px solid #d1dbe3;
  border-radius: 39px;
  height: 29px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  padding: 5px 13px 7px 28px;
  position: relative;
  display: inline-block
}
.solutions__bottom_row-right span::before {
  position: absolute;
  content: url(../img/solutions/present-icontwo.svg);
  left: 7px;
  top: 6px
}
.solutions__bottom_right {
  display: flex
}
.solutions__bottom_column:first-child {
  width: 144px;
  margin-right: 16px
}
.solutions__bottom_column:last-child {
  width: 197px
}
.solutions__bottom_column-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000
}
.solutions__bottom_column-oldprice {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
  color: #cdcdcd;
  margin-top: 8px
}
.solutions__bottom_column-newprice {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #f5c000;
  margin-top: 1px
}
.solutions__bottom_column-btn {
  border-radius: 5px;
  height: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #000;
  width: 100%;
  margin-top: 8px;
  cursor: pointer
}
.solutions__bottom_column-btn.grey {
  background: #f1f1f1
}
.solutions__bottom_column-btn.yellow {
  background: #fdda46
}
.solutions__bottom_column-interest {
  margin-top: 8px;
  position: relative
}
.solutions__bottom_column-interest::before {
  position: absolute;
  content: url(../img/solutions/interest-icon.svg);
  right: 42px;
  top: 4px
}
.solutions__bottom_column-interest p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #818181
}
.solutions__bottom_column-interest p span {
  color: #005dff
}
.solutions__bottom_column-monthprice {
  display: flex;
  margin-top: 8px
}
.solutions__bottom_column-monthprice p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  padding-left: 18px
}
.solutions__bottom_column-select {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  position: relative
}
.solutions__bottom_column-select::before {
  position: absolute;
  content: url(../img/solutions/select-black-icon.svg);
  right: -11px;
  top: -1px
}
.solutions__bottom_column-price {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ff5252;
  margin-left: 18px
}
.solutions-card.hide::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: radial-gradient(91.99% 50% at 50% 50%,#fff 0,rgba(255,255,255,.4) 100%);
  z-index: 100;
  -webkit-animation: .3s linear card-hide;
  animation: .3s linear card-hide
}
.solutions-card.hide .solutions-card__icon-plus {
  display: block;
  -webkit-animation: .3s linear card-hide;
  animation: .3s linear card-hide
}
@-webkit-keyframes card-hide {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
@keyframes card-hide {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
.solutions-card.card-two .contract__item::before {
  background: #dde8ff
}
.solutions-card {
  position: relative
}
.solutions-card__icon-plus {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 120;
  cursor: pointer;
  display: none
}
.solutions-card__icon-plus p {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000;
  padding-top: 10px
}
.solutions-card__substrate {
  background: #f7f7f7;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  width: 362px
}
.solutions-card__substrate_top {
  padding: 14px;
  display: flex;
  justify-content: space-between
}
.solutions-card__substrate_top-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #818181
}
.solutions-card__substrate_top .closed-card {
  display: flex;
  cursor: pointer
}
.solutions-card__substrate_top .closed-card__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  color: #818181;
  margin-right: 9px
}
.solutions-card__substrate_bottom {
  padding: 24px 28px;
  position: relative
}
.solutions-card__substrate_bottom-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #020202
}
.solutions-card__substrate_bottom-text span {
  display: none
}
.solutions-card__substrate_bottom-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #f5c000;
  margin-top: 4px
}
.solutions-card__substrate_bottom-icon {
  position: absolute;
  right: 30px;
  top: 30px;
  display: none
}
.solutions-card__substrate_bottom.present .solutions-card__substrate_bottom-text span {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
  color: #818181;
  padding-left: 13px;
  display: inline-block
}
.solutions-card__substrate_bottom.present .solutions-card__substrate_bottom-price {
  color: #ff5252
}
.solutions-card__substrate_bottom.present .solutions-card__substrate_bottom-icon {
  display: block
}
.solutions-card__center {
  background: #fff;
  border: 1px solid #93b6ff;
  border-radius: 10px;
  width: 100%;
  min-height: 575px;
  padding: 32px 14px 22px 32px
}
.solutions-card__top {
  display: flex;
  align-items: center;
  height: 100px
}
.solutions-card__top_img {
  background: #fff;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  border-radius: 5px;
  min-width: 80px;
  height: 100px;
  text-align: right
}
.solutions-card__top_text {
  margin-left: 16px;
  padding: 0 20px 0 0;
  display: flex;
  height: 100%;
  flex-direction: column
}
.solutions-card__top_text p,
.solutions-card__top_text span {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #818181
}
.solutions-card__top_text-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000;
  margin-top: 10px;
  overflow: hidden;
  height: 49px
}
.solutions-card__top_text-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #818181;
  margin-top: auto
}
.solutions-card__circles {
  display: flex;
  margin-top: 32px
}
.solutions-card__circles_item {
  display: flex;
  align-items: center;
  border: 1px solid #93b6ff;
  border-radius: 60px;
  width: 112px;
  height: 40px;
  margin-right: 8px;
  cursor: pointer;
  transition: .3s;
  overflow: hidden
}
.solutions-card__circles_item-icon {
  width: 40px;
  height: 40px;
  margin-left: -1px
}
.solutions-card__circles_item-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  opacity: 1;
  transition: .3s
}
.solutions-card__circles_item.hide {
  width: 40px;
  border: 1px solid #dde8ff
}
.solutions-card__circles_item.hide .solutions-card__circles_item-text {
  opacity: 0
}
.solutions-card__info {
  margin-top: 16px
}
.solutions-card__info_item {
  display: flex;
  margin-bottom: 8px
}
.solutions-card__info_item-icon {
  width: 24px;
  height: 24px
}
.solutions-card__info_item-text {
  margin-left: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000
}
.solutions-card__contract {
  margin-top: 32px
}
.solutions-card__contract_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #818181;
  margin-bottom: 16px
}
.solutions-card__contract_wrapper {
  padding-top: 8px;
  padding-left: 22px
}
.solutions-card__contract .contract__item {
  margin-bottom: 32px;
  position: relative
}
.solutions-card__contract .contract__item:nth-child(1)::before {
  background: #f4f4f4
}
.solutions-card__contract .contract__item:nth-child(2)::before {
  background: #dde8ff
}
.solutions-card__contract .contract__item:nth-child(3)::before {
  background: #fee74c
}
.solutions-card__contract .contract__item::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  top: -8px
}
.solutions-card__contract .contract__item:last-child {
  margin-bottom: 0
}
.solutions-card__contract .contract__item_top {
  display: flex;
  position: relative
}
.solutions-card__contract .contract__item_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #005dff;
  position: relative;
  cursor: pointer
}
.solutions-card__contract .contract__item_title::before {
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 4px solid #005dff;
  left: -22px;
  top: 8px
}
.solutions-card__contract .contract__item_img {
  position: absolute;
  right: -61px;
  top: -29px
}
.solutions-card__contract .contract__item_img span {
  position: absolute;
  left: 76px;
  top: 28px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000
}
.solutions-card__contract .contract__item_bottom {
  margin-top: 9px
}
.solutions-card__contract .contract__item_bottom-row {
  display: flex;
  justify-content: space-between;
  max-width: 256px;
  margin-bottom: 9px
}
.solutions-card__contract .contract__item_bottom-row:last-child {
  margin-bottom: 0
}
.solutions-card__contract .contract__item_bottom-row span {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #818181
}
.solutions-card__contract .contract__item_bottom-row span:last-child {
  position: relative
}
.solutions-card__contract .contract__item_bottom-row span:last-child::before {
  position: absolute;
  right: -21px;
  top: -1px
}
.solutions-card__contract .contract__item_bottom-row .present::before {
  content: url(../img/solutions/present-iconmini.svg)
}
.solutions-card__contract .contract__item_bottom-row .heart::before {
  content: url(../img/solutions/heart-iconmini.svg)
}
.solutions-card__contract .contract__item_bottom-row .red {
  color: #ff5252!important
}
.solutions-card__contract .contract__item.active span {
  color: #020202
}
.solutions-card__contract .contract__item.active .present {
  color: #ff5252
}
.solutions-card__contract .contract__item.active .present::before {
  content: url(../img/solutions/present-iconmini_red.svg)
}
.solutions-card__contract .contract__item.active .heart {
  color: #ff5252
}
.solutions-card__contract .contract__item.active .heart::before {
  content: url(../img/solutions/heart-iconmini_red.svg)
}
.solutions-card__contract .contract__item.no-active .contract__item_title {
  color: #93b6ff
}
.solutions-card__contract .contract__item.no-active .contract__item_title::before {
  border: 2px solid #93b6ff
}
.solutions-card__max-payments {
  margin-top: 32px;
  position: relative
}
.solutions-card__max-payments p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #818181
}
.solutions-card__max-payments_price {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000
}
.solutions-card__max-payments_icon {
  position: absolute;
  right: 18px;
  top: 1px;
  cursor: pointer
}
.solutions-card__payments {
  margin-top: 24px;
  padding-right: 18px
}
.solutions-card__payments p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #818181;
  padding-bottom: 8px
}
.solutions-card__payments_row {
  display: flex;
  margin-bottom: 8px
}
.solutions-card__payments_row:last-child {
  margin-bottom: 0
}
.solutions-card__payments_row-icon {
  width: 24px;
  height: 24px
}
.solutions-card__payments_row-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  max-width: 162px;
  margin-left: 8px
}
.solutions-card__payments_row-price {
  font-weight: 700;
  font-size: 14px;
  line-height: 124.3%;
  color: #005dff;
  margin-left: auto
}
.solutions-card__payments_row.grey .solutions-card__payments_row-price,
.solutions-card__payments_row.grey .solutions-card__payments_row-text {
  color: #818181
}
.solutions-card.card-two .solutions-card__top_img {
  text-align: center;
  position: relative
}
.solutions-card.card-two .solutions-card__top_img span {
  position: absolute;
  top: 31px;
  font-weight: 700;
  font-size: 16px;
  line-height: 127.3%;
  text-align: center;
  color: #005dff
}
.solutions-card.card-three .solutions-card__top_img {
  text-align: center
}
.solutions-card.card-three .solutions-card__top_text-title {
  height: inherit;
  margin-top: 0
}
.flex-centr {
  display: flex;
  justify-content: center;
  align-items: center
}
.select {
  position: relative;
  display: block;
  min-width: 220px;
  width: 100%
}
.select__head {
  cursor: pointer
}
.select__head:after {
  width: 10px;
  height: 6px;
  background: url(../img/solutions/select-grey-icon.svg) center/cover no-repeat #fff;
  position: absolute;
  right: 20px;
  bottom: 50%;
  transform: translateY(50%);
  content: '';
  display: block;
  transition: .2s ease-in
}
.select__head.open::after {
  transform: translateY(50%) rotate(180deg)
}
.select__list {
  display: none;
  position: absolute;
  top: 131%;
  left: -84px;
  right: 0;
  width: 300px;
  background: #fff;
  border-radius: 5px;
  padding: 24px 16px 20px;
  max-height: 425px;
  overflow-x: hidden;
  z-index: 100;
  box-shadow: 0 5px 30px rgba(0,0,0,.1)
}
.select__list .box-shadow {
  width: 300px;
  height: 56px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg,rgba(255,255,255,0) 0,#fff 58.32%);
  z-index: 1
}
.select__input-search {
  position: relative
}
.select__input-search_icon {
  position: absolute;
  left: 16px;
  top: 12px
}
.select__input-search input {
  background: #fff;
  border: 1px solid #d1dbe3;
  border-radius: 5px;
  width: 268px;
  height: 48px;
  padding: 0 10px 0 56px;
  font-weight: 500;
  font-size: 14px;
  color: #818181
}
.select__list-item {
  margin-top: 13px;
  overflow-y: auto;
  max-height: 320px
}
.select__list-item_title {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  margin-bottom: 4px
}
.select__list-item_policy {
  margin-bottom: 8px;
  margin-right: 10px;
  cursor: pointer
}
.select__list-item_policy:last-child {
  margin-bottom: 40px
}
.select__list-item_policy-top {
  display: flex;
  justify-content: space-between
}
.select__list-item_policy-top span:first-child {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  display: flex
}
.select__list-item_policy-top span:first-child p {
  color: #000
}
.select__list-item_policy-top span:last-child {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #005dff
}
.select__list-item_policy-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}
.select__list-item_policy-bottom span:first-child {
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #818181
}
.select__list-item_policy-bottom span:nth-child(2) {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #818181
}
.select__list-item_policy-bottom span:last-child {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #005dff
}
.select__list-item::-webkit-scrollbar {
  width: 5px;
  background-color: transparent
}
.select__list-item::-webkit-scrollbar-thumb {
  width: 5px;
  background: #c4c4c459;
  border-radius: 3px
}
.select__item {
  display: flex;
  padding: 10px 20px 7px 10px;
  position: relative;
  margin-bottom: 8px;
  cursor: pointer;
  margin-right: 8px
}
.select__item:last-child {
  margin-bottom: 40px
}
.select__item_text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #818181
}
.select__item_num {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #818181;
  margin-left: auto;
  position: relative
}
.select__item_num::before {
  position: absolute;
  content: url(../img/solutions/select-item_icon.svg);
  right: 24px;
  top: -2px
}
.select__item_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(147,182,255,.2);
  top: 0;
  right: 0;
  border-radius: 3px
}
.select .color-black {
  color: #000
}
.select .color-grey {
  color: #818181;
  margin-top: 16px
}
.select .opacity {
  opacity: .5
}
.select .font-weight {
  font-weight: 700!important
}
@media screen and (max-width:1190px) {
  .solutions__top {
    flex-direction: column
  }
  .solutions__top_left {
    padding-bottom: 30px
  }
  .solutions__top_right {
    margin: 0 auto;
    width: 100%
  }
  .solutions__center_wrapper {
    overflow: hidden
  }
}
@media screen and (max-width:1090px) {
  .solutions__bottom_wrapper {
    flex-direction: column
  }
  .solutions__bottom_right {
    margin-top: 30px
  }
}
@media screen and (max-width:1024px) {
  .solutions-card {
    margin-bottom: 20px
  }
}
@media screen and (max-width:767px) {
  .solutions__top_left-title h1 {
    line-height: 22px
  }
  .solutions__top_left-title h2 {
    line-height: 35px
  }
  .solutions__top_left-items {
    margin-top: 20px;
    padding-right: 0
  }
  .solutions__center_wrapper {
    flex-direction: column;
    align-items: center
  }
  .solutions__bottom_wrapper {
    align-items: center
  }
  .solutions__bottom_row {
    flex-direction: column;
    text-align: center
  }
  .solutions__bottom_row-center {
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px
  }
  .solutions-card__center {
    min-height: 528px
  }
}
@media screen and (max-width:479px) {
  .solutions__bottom_right {
    flex-direction: column
  }
  .solutions__bottom_column:first-child {
    margin-bottom: 10px
  }
  .solutions-card__substrate {
    width: 290px
  }
  .solutions-card__center {
    padding: 25px 10px 20px
  }
  .solutions-card__top_text {
    padding: 0;
    width: 167px
  }
  .solutions-card__contract .contract__item_title {
    font-size: 18px
  }
  .solutions-card__contract .contract__item_img {
    width: 174px;
    height: 74px
  }
  .solutions-card__contract .contract__item_img img {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
    object-fit: cover
  }
  .solutions-card__contract .contract__item_img span {
    font-size: 12px;
    left: 58px;
    top: 20px
  }
  .solutions-card__contract .contract__item_bottom-row {
    max-width: 214px
  }
  .solutions-card__contract .contract__item_bottom-row span {
    font-size: 10px
  }
  .solutions-card__payments {
    padding-right: 0
  }
  .solutions-card__payments_row {
    flex-wrap: wrap
  }
  .select {
    min-width: inherit
  }
  .select__list {
    width: 290px;
    left: -107px
  }
  .select__input-search input {
    width: 257px
  }
}